BODY
{
	FONT-FAMILY: Helvetica, Arial;
	FONT-SIZE: 100%;
	font-weight:bold; 
	MARGIN-LEFT: 0px;
	MARGIN-TOP: 0px;
	
}
A:link
{
	COLOR: #483D8B;
	TEXT-DECORATION: none;
}
A:visited
{
	COLOR: #483D8B;
	TEXT-DECORATION: none
}
A:active
{
	COLOR: Blue;
}
A:hover
{
	COLOR: #cc3300;
	TEXT-DECORATION: none
}

.ContentTitle
{
	FONT-FAMILY: Helvetica, Arial;
	FONT-SIZE: 90%;
	COLOR: #483D8B;
	font-weight:bold; 
	BACKGROUND-COLOR: #E9E9E9;
	padding-left : 2;
	padding-right : 2;
	padding-top : 3;
	padding-bottom : 3;
	text-align : center;
	border-right : thin ridge;
	border-bottom : thin ridge;
}

.ContentRow
{
	FONT-FAMILY: Helvetica, Arial;
	FONT-SIZE: 70%;
	COLOR: #483D8B;
	font-weight:bold; 
	padding-left : 10;
	padding-right : 0;
	padding-top : 0;
	padding-bottom : 0;
}

IMG.AutoContent
{
	font-weight:normal; 
	FONT-SIZE: 100%;
	text-decoration:none;
	width : 12px;
	height : 13px;
	border : none;
}

.TreeRow
{
	FONT-FAMILY: Helvetica, Arial;
	FONT-SIZE: 100%;
	font-weight:bold; 
	padding-left : 10;
	padding-right : 0;
	padding-top : 0;
	padding-bottom : 0;
	} 

.TreeTitle
{
	FONT-FAMILY: Helvetica, Arial;
	FONT-SIZE: 100%;
	BACKGROUND-COLOR: #E9E9E9;
	font-weight:bold; 
	padding-left : 5;
	padding-right : 10;
	padding-top :3;
	padding-bottom : 3;
	border-right : thin ridge;
	border-bottom : thin ridge;
	
	text-align : center;
}