table.dataTable thead .sorting {
  background-repeat: no-repeat;
  background-position: center right;
  background-image: url("sort_both.png"); }
table.dataTable thead .sorting_asc {
  background-repeat: no-repeat;
  background-position: center right;
  background-image: url("sort_asc.png"); }
table.dataTable thead .sorting_desc {
  background-repeat: no-repeat;
  background-position: center right;
  background-image: url("sort_desc.png"); }
table.dataTable thead .sorting_asc_disabled {
  background-repeat: no-repeat;
  background-position: center right;
  background-image: url("sort_asc_disabled.png"); }
table.dataTable thead .sorting_desc_disabled {
  background-repeat: no-repeat;
  background-position: center right;
  background-image: url("sort_desc_disabled.png"); }
 
.dataTables_wrapper .dataTables_filter {
  width: 30rem; }
  .dataTables_wrapper .dataTables_filter i {
    font-size: 2rem;
    float: left;
    margin-right: .5rem; }
  .dataTables_wrapper .dataTables_filter input {
    width: calc(100% - 7rem); }
  .dataTables_wrapper .dataTables_filter .btn-floating {
    margin-right: .5rem; }
.dataTables_wrapper .dataTables_info {
  font-size: .9rem;
  float: left; }
.dataTables_wrapper .dataTables_paginate {
  padding-top: 0.25em; }
  .dataTables_wrapper .dataTables_paginate a {
    margin: 0 .5rem; }
.dataTables_wrapper .dataTables_processing {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 40px;
  margin-left: -50%;
  margin-top: -25px;
  padding-top: 20px;
  text-align: center;
  font-size: 1.2em;
  background-color: white;
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(255, 255, 255, 0)), color-stop(25%, rgba(255, 255, 255, 0.9)), color-stop(75%, rgba(255, 255, 255, 0.9)), color-stop(100%, rgba(255, 255, 255, 0)));
  background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.9) 25%, rgba(255, 255, 255, 0.9) 75%, rgba(255, 255, 255, 0) 100%);
  background: -moz-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.9) 25%, rgba(255, 255, 255, 0.9) 75%, rgba(255, 255, 255, 0) 100%);
  background: -ms-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.9) 25%, rgba(255, 255, 255, 0.9) 75%, rgba(255, 255, 255, 0) 100%);
  background: -o-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.9) 25%, rgba(255, 255, 255, 0.9) 75%, rgba(255, 255, 255, 0) 100%);
  background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.9) 25%, rgba(255, 255, 255, 0.9) 75%, rgba(255, 255, 255, 0) 100%); }
.dataTables_wrapper:after {
  visibility: hidden;
  display: block;
  content: "";
  clear: both;
  height: 0; }
\@media screen and (max-width: 360px) {
  .dataTables_wrapper .dataTables_info, .dataTables_wrapper .dataTables_paginate {
    float: none;
    text-align: center; }
  .dataTables_wrapper .dataTables_paginate {
    margin-top: 0.5em; } }
\@media screen and (max-width: 768px) {
  .dataTables_wrapper .dataTables_length, .dataTables_wrapper .dataTables_filter {
    float: none;
    text-align: center; }
  .dataTables_wrapper .dataTables_filter {
    margin-top: 0.5em; } }