USE [AUDITORIA]
GO
/****** Object:  Table [dbo].[TABLAEJEMPLOFINALCOL_AUD]    Script Date: 02/07/2011 00:11:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TABLAEJEMPLOFINALCOL_AUD](
	[ID] [numeric](18, 0) NOT NULL,
	[DESCRIPCION] [varchar](50) NULL,
	[FECALT] [datetime] NULL,
	[FECMOD] [datetime] NULL,
	[USERID] [varchar](50) NULL,
	[ULTOPR] [char](1) NULL,
	[DEBAJA] [char](1) NULL,
	[HORMOV] [varchar](10) NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TABLAEJEMPLOFINALCOL]    Script Date: 02/07/2011 00:11:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TABLAEJEMPLOFINALCOL](
	[ID] [numeric](18, 0) NOT NULL,
	[DESCRIPCION] [varchar](50) NULL,
	[FECALT] [datetime] NULL,
	[FECMOD] [datetime] NULL,
	[USERID] [varchar](50) NULL,
	[ULTOPR] [char](1) NULL,
	[DEBAJA] [char](1) NULL,
	[HORMOV] [varchar](10) NULL,
 CONSTRAINT [PK_TABLAEJEMPLOFINALCOL] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TABLAEJEMPLOFINAL_AUD]    Script Date: 02/07/2011 00:11:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TABLAEJEMPLOFINAL_AUD](
	[ID] [numeric](18, 0) NOT NULL,
	[DESCRIPCION] [varchar](50) NULL,
	[FECALT] [datetime] NULL,
	[FECMOD] [datetime] NULL,
	[USERID] [varchar](50) NULL,
	[ULTOPR] [char](1) NULL,
	[DEBAJA] [char](1) NULL,
	[HORMOV] [varchar](10) NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TABLAEJEMPLOFINALCOMP_AUD]    Script Date: 02/07/2011 00:11:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TABLAEJEMPLOFINALCOMP_AUD](
	[ID] [numeric](18, 0) NOT NULL,
	[ID2] [numeric](18, 0) NOT NULL,
	[DESCRIPCION] [varchar](50) NULL,
	[FECALT] [datetime] NULL,
	[FECMOD] [datetime] NULL,
	[USERID] [varchar](50) NULL,
	[ULTOPR] [char](1) NULL,
	[DEBAJA] [char](1) NULL,
	[HORMOV] [varchar](10) NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[EJEMPLOCOMP]    Script Date: 02/07/2011 00:11:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[EJEMPLOCOMP](
	[CLAVE1] [numeric](18, 0) NOT NULL,
	[CLAVE2] [numeric](18, 0) NOT NULL,
	[DESCRIPCION] [varchar](50) NULL,
	[FECALT] [datetime] NULL,
	[FECMOD] [datetime] NULL,
	[USERID] [varchar](50) NULL,
	[ULTOPR] [char](1) NULL,
	[DEBAJA] [char](1) NULL,
	[HORMOV] [varchar](10) NULL,
 CONSTRAINT [PK_EJEMPLOCOMP] PRIMARY KEY CLUSTERED 
(
	[CLAVE1] ASC,
	[CLAVE2] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[EJEMPLO2]    Script Date: 02/07/2011 00:11:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EJEMPLO2](
	[C] [nchar](10) NULL
) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [TT] ON [dbo].[EJEMPLO2] 
(
	[C] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EJEMPLO1_LOG]    Script Date: 02/07/2011 00:11:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[EJEMPLO1_LOG](
	[ID] [int] NOT NULL,
	[DESCRIP] [varchar](50) NULL,
	[FECALT] [datetime] NULL,
	[FECMOD] [datetime] NULL,
	[USERID] [varchar](50) NULL,
	[ULTOPR] [char](1) NULL,
	[DEBAJA] [char](1) NULL,
	[HORMOV] [varchar](10) NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[EJEMPLO1]    Script Date: 02/07/2011 00:11:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[EJEMPLO1](
	[ID] [int] NOT NULL,
	[DESCRIP] [varchar](50) NULL,
	[FECALT] [datetime] NULL,
	[FECMOD] [datetime] NULL,
	[USERID] [varchar](50) NULL,
	[ULTOPR] [char](1) NULL,
	[DEBAJA] [char](1) NULL,
	[HORMOV] [varchar](10) NULL,
 CONSTRAINT [PK_EJEMPLO1] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[EJEMPLO_LOG]    Script Date: 02/07/2011 00:11:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[EJEMPLO_LOG](
	[ID] [int] NOT NULL,
	[DESCRIPCION] [varchar](10) NOT NULL,
	[DEBAJA] [char](1) NULL,
	[USERID] [varchar](50) NULL,
	[HORMOV] [varchar](10) NULL,
	[FECALT] [datetime] NULL,
	[FECMOD] [datetime] NULL,
	[ULTOPR] [char](1) NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[EJEMPLO]    Script Date: 02/07/2011 00:11:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[EJEMPLO](
	[ID] [int] NOT NULL,
	[DESCRIPCION] [varchar](10) NOT NULL,
	[DEBAJA] [char](1) NULL,
	[USERID] [varchar](50) NULL,
	[HORMOV] [varchar](10) NULL,
	[FECALT] [datetime] NULL,
	[FECMOD] [datetime] NULL,
	[ULTOPR] [char](1) NULL,
 CONSTRAINT [PK_EJEMPLO_1] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
CREATE NONCLUSTERED INDEX [CC] ON [dbo].[EJEMPLO] 
(
	[ULTOPR] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[auditEmployeeData]    Script Date: 02/07/2011 00:11:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[auditEmployeeData](
	[audit_log_id] [uniqueidentifier] NULL,
	[audit_log_type] [char](3) NOT NULL,
	[audit_emp_id] [int] NOT NULL,
	[audit_emp_bankAccountNumber] [char](10) NULL,
	[audit_emp_salary] [int] NULL,
	[audit_emp_SSN] [char](11) NULL,
	[audit_user] [sysname] NOT NULL,
	[audit_changed] [datetime] NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[RDO]    Script Date: 02/07/2011 00:11:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RDO](
	[RDO] [text] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PTINT_LOGERRORES]    Script Date: 02/07/2011 00:11:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PTINT_LOGERRORES](
	[ID] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[IDPROCESO] [numeric](18, 0) NULL,
	[IDEXECPROCESO] [numeric](18, 0) NULL,
	[TABLA] [varchar](255) NULL,
	[DESCRIPCION] [varchar](max) NULL,
	[ERROR] [int] NULL,
	[FILA] [int] NULL,
	[ERROR_LINE] [int] NULL,
	[ERROR_MESSAGE] [nvarchar](2048) NULL,
	[ERROR_PROCEDURE] [nvarchar](126) NULL,
	[ERROR_NUMBER] [int] NULL,
	[ERROR_SEVERITY] [int] NULL,
	[ERROR_STATE] [int] NULL,
	[FECALT] [datetime] NULL,
	[FECMOD] [datetime] NULL,
	[USERID] [varchar](255) NULL,
	[ULTOPR] [char](1) NULL,
	[DEBAJA] [char](1) NULL,
	[HORMOV] [varchar](10) NULL,
 CONSTRAINT [PK_PTINT_ERRORES] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TABLAEJEMPLO]    Script Date: 02/07/2011 00:11:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TABLAEJEMPLO](
	[ID] [numeric](18, 0) NOT NULL,
	[DESCRIPCION] [varchar](50) NULL,
	[FECALT] [datetime] NULL,
	[FECMOD] [datetime] NULL,
	[USERID] [varchar](50) NULL,
	[ULTOPR] [char](1) NULL,
	[DEBAJA] [char](1) NULL,
	[HORMOV] [varchar](10) NULL,
 CONSTRAINT [PK_TABLAEJEMPLO] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tabla]    Script Date: 02/07/2011 00:11:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tabla](
	[ejemplo] [smalldatetime] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TABLAEJEMPLO3]    Script Date: 02/07/2011 00:11:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TABLAEJEMPLO3](
	[CLAVE1] [numeric](18, 0) NOT NULL,
	[CLAVE2] [numeric](18, 0) NOT NULL,
	[DESCRIPCION] [varchar](50) NULL,
	[FECALT] [datetime] NULL,
	[FECMOD] [datetime] NULL,
	[USERID] [varchar](50) NULL,
	[ULTOPR] [char](1) NULL,
	[DEBAJA] [char](1) NULL,
	[HORMOV] [varchar](10) NULL,
 CONSTRAINT [PK_TABLAEJEMPLO3] PRIMARY KEY CLUSTERED 
(
	[CLAVE1] ASC,
	[CLAVE2] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TABLAEJEMPLO2]    Script Date: 02/07/2011 00:11:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TABLAEJEMPLO2](
	[CLAVEUNICA] [numeric](18, 0) NOT NULL,
	[DESCRIPCION] [varchar](50) NULL,
	[FECALT] [datetime] NULL,
	[FECMOD] [datetime] NULL,
	[USERID] [varchar](50) NULL,
	[ULTOPR] [char](1) NULL,
	[DEBAJA] [char](1) NULL,
	[HORMOV] [varchar](10) NULL,
 CONSTRAINT [PK_TABLAEJEMPLO2] PRIMARY KEY CLUSTERED 
(
	[CLAVEUNICA] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TABLAEJEMPLO_HIST_AUD]    Script Date: 02/07/2011 00:11:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TABLAEJEMPLO_HIST_AUD](
	[ID] [numeric](18, 0) NOT NULL,
	[DESCRIPCION] [varchar](50) NULL,
	[FECALT] [datetime] NULL,
	[FECMOD] [datetime] NULL,
	[USERID] [varchar](50) NULL,
	[ULTOPR] [char](1) NULL,
	[DEBAJA] [char](1) NULL,
	[HORMOV] [varchar](10) NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TABLAEJEMPLO_HIST]    Script Date: 02/07/2011 00:11:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TABLAEJEMPLO_HIST](
	[ID] [numeric](18, 0) NOT NULL,
	[DESCRIPCION] [varchar](50) NULL,
	[FECALT] [datetime] NULL,
	[FECMOD] [datetime] NULL,
	[USERID] [varchar](50) NULL,
	[ULTOPR] [char](1) NULL,
	[DEBAJA] [char](1) NULL,
	[HORMOV] [varchar](10) NULL,
 CONSTRAINT [PK_TABLAEJEMPLO_HIST] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  StoredProcedure [dbo].[SP_PTINT_GENERADOR_TRIGGERS_AUDITORIA_HIST]    Script Date: 02/07/2011 00:11:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- ===============================================================
-- Author:		Cintia Gioia	
-- Create date: 29/12/2010
-- Description:	Generador de triggers de auditoria
-- ===============================================================
CREATE PROCEDURE [dbo].[SP_PTINT_GENERADOR_TRIGGERS_AUDITORIA_HIST] (
	@NOMBRETABLA VARCHAR(255),      -- Nombre de tabla
	@SERVER  VARCHAR(255),          -- Nombre del server donde consultar la tabla
	@HIST	CHAR(1),				-- Almacena en tabla historica
    @ErrCod INT OUTPUT,			    -- Codigo de Error  
	@ErrDes VARCHAR(MAX) OUTPUT,    -- Descripcion del Error
	@ErrRef VARCHAR(MAX) OUTPUT,    -- Descripcion del Error - Referencia
	@ErrPro VARCHAR(60) OUTPUT,     -- Proceso que genero el error
	@Trace CHAR(1) = 'N') 		
AS

SET NOCOUNT OFF

DECLARE 
	@FECHAINTEGRACION DATETIME,
	@DESCRIPCIONERROR VARCHAR(MAX),
	@SQL_STRING_DECLARE VARCHAR(MAX),
	@SQL_STRING_FROM_DELETE VARCHAR(MAX),
	@SQL_STRING_FROM_INSERT VARCHAR(MAX),
	@SQL_STRING_VAR_CURSOR VARCHAR(MAX),
	@SQL_STRING_VAR_COL_LOG VARCHAR(MAX),
	@SQL_STRING VARCHAR(MAX),
	@CANTCOLTOTAL INT,
	@CANTCOLREAL INT,
	@CUR_TAB_COL CURSOR,
	@CONTADOR INT,
	@vchSPName varchar(100), 
	@vchDesHea varchar(500), @vchSQLFro varchar(max), @vchSQLWhe varchar(max), @vchTipVal char(1),
	@vchDesVal varchar(500), @vchDesErr varchar(500), @vchCndErr varchar(max), @vchSenSQL nvarchar(max), 
	@vchInsert varchar(max), @vchTbJuih varchar(20), @vchScript nvarchar(max), @vchParamDefinition nvarchar(max),
	@vchErrWhe varchar(max), 
	@intNroAgr int, @intMsjErr int, @intCntErr int, 
	@intReturn int

BEGIN TRY
	
	SET @intReturn = 0
	
	SELECT @FECHAINTEGRACION = GETDATE()

	SELECT @DESCRIPCIONERROR='Conexion a server'

--	SET @SQL_STRING_DECLARE = ''

--	SET @SQL_STRING_DECLARE = 'USE ' + @SERVER + CHAR(13) + CHAR(10)
	
	--EXEC(@SQL_STRING_DECLARE)
	--SET @SQL_STRING_DECLARE = @SQL_STRING_DECLARE + 'GO ' + CHAR(13) + CHAR(10) + CHAR(13) + CHAR(10)

	SET @SQL_STRING_DECLARE = ''

	SELECT @DESCRIPCIONERROR='Armado de creacion o modificacion de trigger de DELETE'

	IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[TR_' + @NOMBRETABLA +'_DEL]'))
	BEGIN
		SET @SQL_STRING_DECLARE= @SQL_STRING_DECLARE + 'CREATE TRIGGER TR_' + @NOMBRETABLA +'_DEL ' + CHAR(13) + CHAR(10)
	END
	ELSE
	BEGIN
		SET @SQL_STRING_DECLARE= @SQL_STRING_DECLARE + 'ALTER TRIGGER TR_' + @NOMBRETABLA  +'_DEL ' +  CHAR(13) + CHAR(10)
	END
	
	SET @SQL_STRING_DECLARE= @SQL_STRING_DECLARE + 'ON  [dbo].[' + @NOMBRETABLA  + '] ' + CHAR(13) + CHAR(10)
	SET @SQL_STRING_DECLARE= @SQL_STRING_DECLARE + 'INSTEAD OF DELETE' + CHAR(13) + CHAR(10)
	SET @SQL_STRING_DECLARE= @SQL_STRING_DECLARE + 'AS' + CHAR(13) + CHAR(10)
	SET @SQL_STRING_DECLARE= @SQL_STRING_DECLARE + 'BEGIN' + CHAR(13) + CHAR(10) + CHAR(13) + CHAR(10)
	SET @SQL_STRING_DECLARE= @SQL_STRING_DECLARE + '	SET NOCOUNT ON;' + CHAR(13) + CHAR(10) + CHAR(13) + CHAR(10) 
	SET @SQL_STRING_DECLARE= @SQL_STRING_DECLARE + '	UPDATE dbo.' + @NOMBRETABLA  + CHAR(13) + CHAR(10) 
	SET @SQL_STRING_DECLARE= @SQL_STRING_DECLARE + '	SET DEBAJA = ''S'', ' + CHAR(13) + CHAR(10) 
	SET @SQL_STRING_DECLARE= @SQL_STRING_DECLARE + '	FECMOD = GETDATE(), ' + CHAR(13) + CHAR(10) 
	SET @SQL_STRING_DECLARE= @SQL_STRING_DECLARE + '	USERID = SYSTEM_USER,  ' + CHAR(13) + CHAR(10) 
	SET @SQL_STRING_DECLARE= @SQL_STRING_DECLARE + '	ULTOPR = ''B'', ' + CHAR(13) + CHAR(10) 
	SET @SQL_STRING_DECLARE= @SQL_STRING_DECLARE + '	HORMOV=GETDATE() ' + CHAR(13) + CHAR(10) 
	SET @SQL_STRING_DECLARE= @SQL_STRING_DECLARE + '	FROM DELETED D INNER JOIN ' + @NOMBRETABLA  +  ' T ON ' + CHAR(13) + CHAR(10) 
	
	SELECT @CANTCOLTOTAL=COUNT(1) 
	FROM SYS.TABLES T  
	INNER JOIN SYS.INDEX_COLUMNS IX ON T.OBJECT_ID = IX.OBJECT_ID 
	INNER JOIN SYS.COLUMNS C ON T.OBJECT_ID = C.OBJECT_ID AND C.column_id=IX.column_id
	WHERE T.NAME = @NOMBRETABLA  AND IX.INDEX_ID=1 
			
	SELECT @DESCRIPCIONERROR='Consulta de campos claves'
	
	SET @CUR_TAB_COL = CURSOR  FOR
			SELECT 'D.' + C.NAME + '=T.'+ C.NAME AS SQLTRING
			FROM SYS.TABLES T  
			INNER JOIN SYS.INDEX_COLUMNS IX ON T.OBJECT_ID = IX.OBJECT_ID 
			INNER JOIN SYS.COLUMNS C ON T.OBJECT_ID = C.OBJECT_ID AND C.column_id=IX.column_id
			WHERE T.NAME = @NOMBRETABLA  AND IX.INDEX_ID=1 
			ORDER BY IX.INDEX_COLUMN_ID
	FOR READ ONLY
	
	OPEN @CUR_TAB_COL
	FETCH NEXT FROM @CUR_TAB_COL INTO @SQL_STRING
	
	SELECT @CANTCOLREAL=0 
	
	SET @SQL_STRING_FROM_DELETE=''
    WHILE @@FETCH_STATUS = 0 	
	BEGIN
		SELECT @CANTCOLREAL=@CANTCOLREAL + 1
		IF @CANTCOLTOTAL=@CANTCOLREAL
		BEGIN
			SET @SQL_STRING_FROM_DELETE =  @SQL_STRING_FROM_DELETE + @SQL_STRING + ' ' + CHAR(13) + CHAR(10)				
		END
		ELSE
		BEGIN
			SET @SQL_STRING_FROM_DELETE =  @SQL_STRING_FROM_DELETE + @SQL_STRING + ' AND ' -- + CHAR(13) + CHAR(10)		
		END
		
		FETCH NEXT FROM @CUR_TAB_COL INTO @SQL_STRING

	END
			
	CLOSE @CUR_TAB_COL
	DEALLOCATE @CUR_TAB_COL
	
	SET @SQL_STRING_DECLARE= @SQL_STRING_DECLARE + '	' + @SQL_STRING_FROM_DELETE + '	WHERE D.DEBAJA <>''S'' OR D.DEBAJA IS NULL ' + CHAR(13) + CHAR(10) + CHAR(13) + CHAR(10) 
	SET @SQL_STRING_DECLARE= @SQL_STRING_DECLARE + '	IF @@ERROR <> 0 ' + CHAR(13) + CHAR(10) 
	SET @SQL_STRING_DECLARE= @SQL_STRING_DECLARE + '	BEGIN ' + CHAR(13) + CHAR(10) 
	SET @SQL_STRING_DECLARE= @SQL_STRING_DECLARE + '		ROLLBACK TRAN ' + CHAR(13) + CHAR(10) 
	SET @SQL_STRING_DECLARE= @SQL_STRING_DECLARE + '		RAISERROR(''Tabla ' + @NOMBRETABLA  + ' - Error al marcar registros con baja lógica'',16,1) ' + CHAR(13) + CHAR(10) 
	SET @SQL_STRING_DECLARE= @SQL_STRING_DECLARE + '	END ' + CHAR(13) + CHAR(10) + CHAR(13) + CHAR(10)	

    SELECT @DESCRIPCIONERROR='Configuracion de tabla de historicos en delete'
    
	IF @HIST ='S' 
	BEGIN

		SET @SQL_STRING_DECLARE= @SQL_STRING_DECLARE + '	INSERT INTO ' + @NOMBRETABLA  + '_AUD' + CHAR(13) + CHAR(10) 
		SET @SQL_STRING_DECLARE= @SQL_STRING_DECLARE + '	SELECT T.* ' + CHAR(13) + CHAR(10) 
		SET @SQL_STRING_DECLARE= @SQL_STRING_DECLARE + '	FROM DELETED D INNER JOIN ' + @NOMBRETABLA  +  ' T ON ' + CHAR(13) + CHAR(10) 
		SET @SQL_STRING_DECLARE= @SQL_STRING_DECLARE + '	' + @SQL_STRING_FROM_DELETE + CHAR(13) + CHAR(10) 

		SET @SQL_STRING_DECLARE= @SQL_STRING_DECLARE + '	IF @@ERROR <> 0 ' + CHAR(13) + CHAR(10) 
		SET @SQL_STRING_DECLARE= @SQL_STRING_DECLARE + '	BEGIN ' + CHAR(13) + CHAR(10) 
		SET @SQL_STRING_DECLARE= @SQL_STRING_DECLARE + '		ROLLBACK TRAN ' + CHAR(13) + CHAR(10) 
		SET @SQL_STRING_DECLARE= @SQL_STRING_DECLARE + '		RAISERROR(''Tabla ' + @NOMBRETABLA  + '_HIST - Error al pasar registros eliminados a tabla historica'',16,1) ' + CHAR(13) + CHAR(10) 
		SET @SQL_STRING_DECLARE= @SQL_STRING_DECLARE + '	END ' + CHAR(13) + CHAR(10)  + CHAR(13) + CHAR(10) 

	
	END

	SET @SQL_STRING_DECLARE= @SQL_STRING_DECLARE + 'END ' + CHAR(13) + CHAR(10) 

    SELECT @DESCRIPCIONERROR='Resultado'
	delete from rdo
	
	insert into RDO 
	SELECT @SQL_STRING_DECLARE	
	
	SELECT @SQL_STRING_DECLARE	
		
	SELECT @DESCRIPCIONERROR='Creacion o actualizacion del Trigger de auditoria de DELETE'

	EXEC(@SQL_STRING_DECLARE)

	SET @SQL_STRING_DECLARE = ''

	SELECT @DESCRIPCIONERROR='Armado de creacion o modificacion de trigger de UPDATE/INSERT'

	IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[TR_' + @NOMBRETABLA +'_UPDINS]'))
	BEGIN
		SET @SQL_STRING_DECLARE= @SQL_STRING_DECLARE + 'CREATE TRIGGER TR_' + @NOMBRETABLA +'_UPDINS ' + CHAR(13) + CHAR(10)
	END
	ELSE
	BEGIN
		SET @SQL_STRING_DECLARE= @SQL_STRING_DECLARE + 'ALTER TRIGGER TR_' + @NOMBRETABLA  +'_UPDINS ' +  CHAR(13) + CHAR(10)
	END
	
	SET @SQL_STRING_DECLARE= @SQL_STRING_DECLARE + 'ON  [dbo].[' + @NOMBRETABLA  + '] ' + CHAR(13) + CHAR(10)
	SET @SQL_STRING_DECLARE= @SQL_STRING_DECLARE + 'AFTER INSERT, UPDATE' + CHAR(13) + CHAR(10)
	SET @SQL_STRING_DECLARE= @SQL_STRING_DECLARE + 'AS' + CHAR(13) + CHAR(10)
	SET @SQL_STRING_DECLARE= @SQL_STRING_DECLARE + 'BEGIN' + CHAR(13) + CHAR(10) + CHAR(13) + CHAR(10)
	SET @SQL_STRING_DECLARE= @SQL_STRING_DECLARE + '	SET NOCOUNT ON' + CHAR(13) + CHAR(10) + CHAR(13) + CHAR(10)
	SET @SQL_STRING_DECLARE= @SQL_STRING_DECLARE + '	DECLARE @Operation CHAR(1)' + CHAR(13) + CHAR(10) + CHAR(13) + CHAR(10)
	SET @SQL_STRING_DECLARE= @SQL_STRING_DECLARE + '	IF EXISTS(SELECT 1 FROM DELETED)' + CHAR(13) + CHAR(10) 
	SET @SQL_STRING_DECLARE= @SQL_STRING_DECLARE + '		SET @Operation = ''M''' + CHAR(13) + CHAR(10) 
	SET @SQL_STRING_DECLARE= @SQL_STRING_DECLARE + '	ELSE' + CHAR(13) + CHAR(10) 
	SET @SQL_STRING_DECLARE= @SQL_STRING_DECLARE + '		SET @Operation = ''A''' + CHAR(13) + CHAR(10)  + CHAR(13) + CHAR(10) 

	
	SET @SQL_STRING_DECLARE= @SQL_STRING_DECLARE + '	IF @Operation =''M''' + CHAR(13) + CHAR(10) 
	SET @SQL_STRING_DECLARE= @SQL_STRING_DECLARE + '	BEGIN' + CHAR(13) + CHAR(10) 
	SET @SQL_STRING_DECLARE= @SQL_STRING_DECLARE + '		IF EXISTS (SELECT 1 FROM DELETED WHERE DEBAJA = ''S'')' + CHAR(13) + CHAR(10) 
	SET @SQL_STRING_DECLARE= @SQL_STRING_DECLARE + '		BEGIN' + CHAR(13) + CHAR(10) 
	SET @SQL_STRING_DECLARE= @SQL_STRING_DECLARE + '			ROLLBACK TRAN' + CHAR(13) + CHAR(10) 
	SET @SQL_STRING_DECLARE= @SQL_STRING_DECLARE + '			RAISERROR(''Tabla ' + @NOMBRETABLA + ' - No se puede eliminar/modificar registros con baja lógica'',16,1)' + CHAR(13) + CHAR(10) 
	SET @SQL_STRING_DECLARE= @SQL_STRING_DECLARE + '		END' + CHAR(13) + CHAR(10) 
	SET @SQL_STRING_DECLARE= @SQL_STRING_DECLARE + '		ELSE' + CHAR(13) + CHAR(10) 
	SET @SQL_STRING_DECLARE= @SQL_STRING_DECLARE + '		BEGIN' + CHAR(13) + CHAR(10) + CHAR(13) + CHAR(10)
	
	SET @SQL_STRING_DECLARE= @SQL_STRING_DECLARE + '			UPDATE ' + @NOMBRETABLA  + CHAR(13) + CHAR(10) 
	SET @SQL_STRING_DECLARE= @SQL_STRING_DECLARE + '			SET DEBAJA = ''N'', ' + CHAR(13) + CHAR(10) 
	SET @SQL_STRING_DECLARE= @SQL_STRING_DECLARE + '			FECMOD = GETDATE(), ' + CHAR(13) + CHAR(10) 
	SET @SQL_STRING_DECLARE= @SQL_STRING_DECLARE + '			USERID = SYSTEM_USER,  ' + CHAR(13) + CHAR(10) 
	SET @SQL_STRING_DECLARE= @SQL_STRING_DECLARE + '			ULTOPR = ''M'', ' + CHAR(13) + CHAR(10) 
	SET @SQL_STRING_DECLARE= @SQL_STRING_DECLARE + '			HORMOV=GETDATE() ' + CHAR(13) + CHAR(10) 
	SET @SQL_STRING_DECLARE= @SQL_STRING_DECLARE + '			FROM INSERTED D INNER JOIN ' + @NOMBRETABLA  +  ' T ON ' + CHAR(13) + CHAR(10) 
	

	SELECT @CANTCOLTOTAL=COUNT(1) 
	FROM SYS.TABLES T  
	INNER JOIN SYS.INDEX_COLUMNS IX ON T.OBJECT_ID = IX.OBJECT_ID 
	INNER JOIN SYS.COLUMNS C ON T.OBJECT_ID = C.OBJECT_ID AND C.column_id=IX.column_id
	WHERE T.NAME = @NOMBRETABLA  AND IX.INDEX_ID=1 
			
	SELECT @DESCRIPCIONERROR='Consulta de campos claves'
	
	SET @CUR_TAB_COL = CURSOR  FOR
			SELECT 'D.' + C.NAME + '=T.'+ C.NAME AS SQLTRING
			FROM SYS.TABLES T  
			INNER JOIN SYS.INDEX_COLUMNS IX ON T.OBJECT_ID = IX.OBJECT_ID 
			INNER JOIN SYS.COLUMNS C ON T.OBJECT_ID = C.OBJECT_ID AND C.column_id=IX.column_id
			WHERE T.NAME = @NOMBRETABLA  AND IX.INDEX_ID=1 
			ORDER BY IX.INDEX_COLUMN_ID
	FOR READ ONLY
	
	OPEN @CUR_TAB_COL
	FETCH NEXT FROM @CUR_TAB_COL INTO @SQL_STRING
	
	SELECT @CANTCOLREAL=0 
	
	SET @SQL_STRING_FROM_INSERT=''
	
    WHILE @@FETCH_STATUS = 0 	
	BEGIN
		SELECT @CANTCOLREAL=@CANTCOLREAL + 1
		IF @CANTCOLTOTAL=@CANTCOLREAL
		BEGIN
			SET @SQL_STRING_FROM_INSERT =  @SQL_STRING_FROM_INSERT + @SQL_STRING + ' ' + CHAR(13) + CHAR(10)				
		END
		ELSE
		BEGIN
			SET @SQL_STRING_FROM_INSERT =  @SQL_STRING_FROM_INSERT + @SQL_STRING + ' AND ' -- + CHAR(13) + CHAR(10)		
		END
		
		FETCH NEXT FROM @CUR_TAB_COL INTO @SQL_STRING

	END
			
	CLOSE @CUR_TAB_COL
	DEALLOCATE @CUR_TAB_COL
		
	SET @SQL_STRING_DECLARE= @SQL_STRING_DECLARE + '			' + @SQL_STRING_FROM_INSERT 
	SET @SQL_STRING_DECLARE= @SQL_STRING_DECLARE + '			WHERE D.DEBAJA <>''S'' OR D.DEBAJA IS NULL ' + CHAR(13) + CHAR(10) + CHAR(13) + CHAR(10)
	SET @SQL_STRING_DECLARE= @SQL_STRING_DECLARE + '			IF @@ERROR <> 0' + CHAR(13) + CHAR(10) 
	SET @SQL_STRING_DECLARE= @SQL_STRING_DECLARE + '			BEGIN' + CHAR(13) + CHAR(10) 
	SET @SQL_STRING_DECLARE= @SQL_STRING_DECLARE + '				ROLLBACK TRAN' + CHAR(13) + CHAR(10) 
	SET @SQL_STRING_DECLARE= @SQL_STRING_DECLARE + '				RAISERROR(''Tabla ' + @NOMBRETABLA + ' - Error al actualizar datos de auditoría'',16,1)' + CHAR(13) + CHAR(10) 	
	SET @SQL_STRING_DECLARE= @SQL_STRING_DECLARE + '			END' + CHAR(13) + CHAR(10) + CHAR(13) + CHAR(10) 

	IF @HIST ='S' 
	BEGIN
		SET @SQL_STRING_DECLARE= @SQL_STRING_DECLARE + '			INSERT INTO ' + @NOMBRETABLA + '_AUD'  + CHAR(13) + CHAR(10) 
		SET @SQL_STRING_DECLARE= @SQL_STRING_DECLARE + '			SELECT T.* ' + CHAR(13) + CHAR(10) 	 
		SET @SQL_STRING_DECLARE= @SQL_STRING_DECLARE + '			FROM INSERTED D INNER JOIN ' + @NOMBRETABLA  +  ' T ON ' + CHAR(13) + CHAR(10) 
		SET @SQL_STRING_DECLARE= @SQL_STRING_DECLARE + '			' + @SQL_STRING_FROM_INSERT  
		SET @SQL_STRING_DECLARE= @SQL_STRING_DECLARE + '			WHERE D.DEBAJA <>''S'' OR D.DEBAJA IS NULL ' + CHAR(13) + CHAR(10) + CHAR(13) + CHAR(10)


		SET @SQL_STRING_DECLARE= @SQL_STRING_DECLARE + '			IF @@ERROR <> 0' + CHAR(13) + CHAR(10) 
		SET @SQL_STRING_DECLARE= @SQL_STRING_DECLARE + '			BEGIN' + CHAR(13) + CHAR(10) 
		SET @SQL_STRING_DECLARE= @SQL_STRING_DECLARE + '				ROLLBACK TRAN' + CHAR(13) + CHAR(10) 
		SET @SQL_STRING_DECLARE= @SQL_STRING_DECLARE + '				RAISERROR(''Tabla ' + @NOMBRETABLA + ' - Error al pasar registros modificados a tabla historica'',16,1)' + CHAR(13) + CHAR(10) 	
		SET @SQL_STRING_DECLARE= @SQL_STRING_DECLARE + '			END' + CHAR(13) + CHAR(10) + CHAR(13) + CHAR(10) 
	END


	SET @SQL_STRING_DECLARE= @SQL_STRING_DECLARE + '		END' + CHAR(13) + CHAR(10) 	
	SET @SQL_STRING_DECLARE= @SQL_STRING_DECLARE + '	END' + CHAR(13) + CHAR(10) 		
	SET @SQL_STRING_DECLARE= @SQL_STRING_DECLARE + '	ELSE' + CHAR(13) + CHAR(10) 
	SET @SQL_STRING_DECLARE= @SQL_STRING_DECLARE + '	BEGIN' + CHAR(13) + CHAR(10) + CHAR(13) + CHAR(10)

	SET @SQL_STRING_DECLARE= @SQL_STRING_DECLARE + '		UPDATE ' + @NOMBRETABLA  + CHAR(13) + CHAR(10) 
	SET @SQL_STRING_DECLARE= @SQL_STRING_DECLARE + '		SET FECALT = GETDATE(), ' + CHAR(13) + CHAR(10)
	SET @SQL_STRING_DECLARE= @SQL_STRING_DECLARE + '		DEBAJA = ''N'', ' + CHAR(13) + CHAR(10) 
	SET @SQL_STRING_DECLARE= @SQL_STRING_DECLARE + '		FECMOD = GETDATE(), ' + CHAR(13) + CHAR(10) 
	SET @SQL_STRING_DECLARE= @SQL_STRING_DECLARE + '		USERID = SYSTEM_USER,  ' + CHAR(13) + CHAR(10) 
	SET @SQL_STRING_DECLARE= @SQL_STRING_DECLARE + '		ULTOPR = ''A'', ' + CHAR(13) + CHAR(10) 
	SET @SQL_STRING_DECLARE= @SQL_STRING_DECLARE + '		HORMOV=GETDATE() ' + CHAR(13) + CHAR(10) 
	SET @SQL_STRING_DECLARE= @SQL_STRING_DECLARE + '		FROM INSERTED D INNER JOIN ' + @NOMBRETABLA  +  ' T ON ' + CHAR(13) + CHAR(10) 
	
	SET @SQL_STRING_DECLARE= @SQL_STRING_DECLARE + '		' + @SQL_STRING_FROM_INSERT 
	SET @SQL_STRING_DECLARE= @SQL_STRING_DECLARE + '		WHERE D.DEBAJA <>''S'' OR D.DEBAJA IS NULL ' + CHAR(13) + CHAR(10) + CHAR(13) + CHAR(10)
	SET @SQL_STRING_DECLARE= @SQL_STRING_DECLARE + '		IF @@ERROR <> 0' + CHAR(13) + CHAR(10) 
	SET @SQL_STRING_DECLARE= @SQL_STRING_DECLARE + '		BEGIN' + CHAR(13) + CHAR(10) 
	SET @SQL_STRING_DECLARE= @SQL_STRING_DECLARE + '			ROLLBACK TRAN' + CHAR(13) + CHAR(10) 
	SET @SQL_STRING_DECLARE= @SQL_STRING_DECLARE + '			RAISERROR(''Tabla ' + @NOMBRETABLA + ' - Error al actualizar datos de auditoría'',16,1)' + CHAR(13) + CHAR(10) 	
	SET @SQL_STRING_DECLARE= @SQL_STRING_DECLARE + '		END' + CHAR(13) + CHAR(10) + CHAR(13) + CHAR(10)


	IF @HIST ='S' 
	BEGIN
		SET @SQL_STRING_DECLARE= @SQL_STRING_DECLARE + '		INSERT INTO ' + @NOMBRETABLA + '_AUD'  + CHAR(13) + CHAR(10) 
		SET @SQL_STRING_DECLARE= @SQL_STRING_DECLARE + '		SELECT T.* ' + CHAR(13) + CHAR(10) 	 
		SET @SQL_STRING_DECLARE= @SQL_STRING_DECLARE + '		FROM INSERTED D INNER JOIN ' + @NOMBRETABLA  +  ' T ON ' + CHAR(13) + CHAR(10) 
		SET @SQL_STRING_DECLARE= @SQL_STRING_DECLARE + '		' + @SQL_STRING_FROM_INSERT  
		SET @SQL_STRING_DECLARE= @SQL_STRING_DECLARE + '		WHERE D.DEBAJA <>''S'' OR D.DEBAJA IS NULL ' + CHAR(13) + CHAR(10) + CHAR(13) + CHAR(10)


		SET @SQL_STRING_DECLARE= @SQL_STRING_DECLARE + '		IF @@ERROR <> 0' + CHAR(13) + CHAR(10) 
		SET @SQL_STRING_DECLARE= @SQL_STRING_DECLARE + '		BEGIN' + CHAR(13) + CHAR(10) 
		SET @SQL_STRING_DECLARE= @SQL_STRING_DECLARE + '			ROLLBACK TRAN' + CHAR(13) + CHAR(10) 
		SET @SQL_STRING_DECLARE= @SQL_STRING_DECLARE + '			RAISERROR(''Tabla ' + @NOMBRETABLA + ' - Error al pasar registros modificados a tabla historica'',16,1)' + CHAR(13) + CHAR(10) 	
		SET @SQL_STRING_DECLARE= @SQL_STRING_DECLARE + '		END' + CHAR(13) + CHAR(10) + CHAR(13) + CHAR(10) 
	END
	
	SET @SQL_STRING_DECLARE= @SQL_STRING_DECLARE + '	END' + CHAR(13) + CHAR(10) 				
						
						
	SET @SQL_STRING_DECLARE= @SQL_STRING_DECLARE + 'END' + CHAR(13) + CHAR(10) 


    SELECT @DESCRIPCIONERROR='Resultado'
	delete from rdo
	
	insert into RDO 
	SELECT @SQL_STRING_DECLARE	
	
	SELECT @SQL_STRING_DECLARE	
		
	SELECT @DESCRIPCIONERROR='Creacion o actualizacion del Trigger de auditoria'

	EXEC(@SQL_STRING_DECLARE)

END TRY

BEGIN CATCH

	SET @intReturn = 0 -- Valor de Retorno de la sp, 0 si no hubo errores, o 1 si hubo errores

    SET @vchSPName =  OBJECT_NAME(@@PROCID)
	
	GOTO OnError

END CATCH

GOTO OnExit

OnError:
	SET @intReturn = 1

    IF @ErrPro = ''
	    SET @ErrPro = @vchSPName 

    IF @ErrRef <> ''    
        SET @ErrRef = @ErrRef + ' '

	SELECT  @DESCRIPCIONERROR
	
	INSERT INTO PTINT_LOGERRORES 
    (TABLA,IDPROCESO, IDEXECPROCESO, DESCRIPCION, ERROR, FILA, 
    ERROR_LINE, ERROR_MESSAGE, ERROR_PROCEDURE, 
    ERROR_NUMBER, ERROR_SEVERITY, ERROR_STATE,
    FECALT, USERID)  
    VALUES (@NOMBRETABLA,0, 0, @DESCRIPCIONERROR,  @@ERROR, @@ROWCOUNT,
	ERROR_LINE(), ERROR_MESSAGE(), ERROR_PROCEDURE(), 
	ERROR_NUMBER(), ERROR_SEVERITY(),ERROR_STATE(),
	@FECHAINTEGRACION,SYSTEM_USER )     
	
	 --RAISERROR (@DESCRIPCIONERROR,16,1)  
										            
	RETURN @intReturn 

OnExit:
	RETURN @intReturn 


return 0
GO
/****** Object:  StoredProcedure [dbo].[SP_PTINT_GENERADOR_TRIGGERS_AUDITORIA]    Script Date: 02/07/2011 00:11:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- ===============================================================
-- Author:		Cintia Gioia	
-- Create date: 29/12/2010
-- Description:	Generador de triggers de auditoria
-- ===============================================================
CREATE PROCEDURE [dbo].[SP_PTINT_GENERADOR_TRIGGERS_AUDITORIA] (
	@NOMBRETABLA VARCHAR(255),      -- Nombre de tabla
	@SERVER  VARCHAR(255),          -- Nombre del server donde consultar la tabla
    @ErrCod INT OUTPUT,			    -- Codigo de Error  
	@ErrDes VARCHAR(MAX) OUTPUT,    -- Descripcion del Error
	@ErrRef VARCHAR(MAX) OUTPUT,    -- Descripcion del Error - Referencia
	@ErrPro VARCHAR(60) OUTPUT,     -- Proceso que genero el error
	@Trace CHAR(1) = 'N') 		
AS

SET NOCOUNT OFF

DECLARE 
	@FECHAINTEGRACION DATETIME,
	@DESCRIPCIONERROR VARCHAR(MAX),
	@SQL_STRING_DECLARE VARCHAR(MAX),
	@SQL_STRING_VAR_CURSOR VARCHAR(MAX),
	@SQL_STRING_VAR_COL_LOG VARCHAR(MAX),
	@SQL_STRING VARCHAR(MAX),
	@CANTCOLTOTAL INT,
	@CANTCOLREAL INT,
	@CUR_TAB_COL CURSOR,
	@CONTADOR INT,
	@vchSPName varchar(100), 
	@vchDesHea varchar(500), @vchSQLFro varchar(max), @vchSQLWhe varchar(max), @vchTipVal char(1),
	@vchDesVal varchar(500), @vchDesErr varchar(500), @vchCndErr varchar(max), @vchSenSQL nvarchar(max), 
	@vchInsert varchar(max), @vchTbJuih varchar(20), @vchScript nvarchar(max), @vchParamDefinition nvarchar(max),
	@vchErrWhe varchar(max), 
	@intNroAgr int, @intMsjErr int, @intCntErr int, 
	@intReturn int

BEGIN TRY
	
	SET @intReturn = 0
	
	SELECT @FECHAINTEGRACION = GETDATE()

	SELECT @DESCRIPCIONERROR='Conexion a server'

--	SET @SQL_STRING_DECLARE = ''

--	SET @SQL_STRING_DECLARE = 'USE ' + @SERVER + CHAR(13) + CHAR(10)
	
	--EXEC(@SQL_STRING_DECLARE)
	--SET @SQL_STRING_DECLARE = @SQL_STRING_DECLARE + 'GO ' + CHAR(13) + CHAR(10) + CHAR(13) + CHAR(10)

	SET @SQL_STRING_DECLARE = ''

	SELECT @DESCRIPCIONERROR='Armado de creacion o modificacion de trigger de DELETE'

	IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[TR_' + @NOMBRETABLA +'_DEL]'))
	BEGIN
		SET @SQL_STRING_DECLARE= @SQL_STRING_DECLARE + 'CREATE TRIGGER TR_' + @NOMBRETABLA +'_DEL ' + CHAR(13) + CHAR(10)
	END
	ELSE
	BEGIN
		SET @SQL_STRING_DECLARE= @SQL_STRING_DECLARE + 'ALTER TRIGGER TR_' + @NOMBRETABLA  +'_DEL ' +  CHAR(13) + CHAR(10)
	END
	
	SET @SQL_STRING_DECLARE= @SQL_STRING_DECLARE + 'ON  [dbo].[' + @NOMBRETABLA  + '] ' + CHAR(13) + CHAR(10)
	SET @SQL_STRING_DECLARE= @SQL_STRING_DECLARE + 'INSTEAD OF DELETE' + CHAR(13) + CHAR(10)
	SET @SQL_STRING_DECLARE= @SQL_STRING_DECLARE + 'AS' + CHAR(13) + CHAR(10)
	SET @SQL_STRING_DECLARE= @SQL_STRING_DECLARE + 'BEGIN' + CHAR(13) + CHAR(10) + CHAR(13) + CHAR(10)
	SET @SQL_STRING_DECLARE= @SQL_STRING_DECLARE + '	SET NOCOUNT ON;' + CHAR(13) + CHAR(10) 
	SET @SQL_STRING_DECLARE= @SQL_STRING_DECLARE + '	UPDATE dbo.' + @NOMBRETABLA  + CHAR(13) + CHAR(10) 
	SET @SQL_STRING_DECLARE= @SQL_STRING_DECLARE + '	SET DEBAJA = ''S'', ' + CHAR(13) + CHAR(10) 
	SET @SQL_STRING_DECLARE= @SQL_STRING_DECLARE + '	FECMOD = GETDATE(), ' + CHAR(13) + CHAR(10) 
	SET @SQL_STRING_DECLARE= @SQL_STRING_DECLARE + '	USERID = SYSTEM_USER,  ' + CHAR(13) + CHAR(10) 
	SET @SQL_STRING_DECLARE= @SQL_STRING_DECLARE + '	ULTOPR = ''B'', ' + CHAR(13) + CHAR(10) 
	SET @SQL_STRING_DECLARE= @SQL_STRING_DECLARE + '	HORMOV=GETDATE() ' + CHAR(13) + CHAR(10) 
	SET @SQL_STRING_DECLARE= @SQL_STRING_DECLARE + '	FROM DELETED D INNER JOIN ' + @NOMBRETABLA  +  ' T ON ' + CHAR(13) + CHAR(10) 
	
	SELECT @CANTCOLTOTAL=COUNT(1) 
	FROM SYS.TABLES T  
	INNER JOIN SYS.INDEX_COLUMNS IX ON T.OBJECT_ID = IX.OBJECT_ID 
	INNER JOIN SYS.COLUMNS C ON T.OBJECT_ID = C.OBJECT_ID AND C.column_id=IX.column_id
	WHERE T.NAME = @NOMBRETABLA  AND IX.INDEX_ID=1 
			
	SELECT @DESCRIPCIONERROR='Consulta de campos claves'
	
	SET @CUR_TAB_COL = CURSOR  FOR
			SELECT 'D.' + C.NAME + '=T.'+ C.NAME AS SQLTRING
			FROM SYS.TABLES T  
			INNER JOIN SYS.INDEX_COLUMNS IX ON T.OBJECT_ID = IX.OBJECT_ID 
			INNER JOIN SYS.COLUMNS C ON T.OBJECT_ID = C.OBJECT_ID AND C.column_id=IX.column_id
			WHERE T.NAME = @NOMBRETABLA  AND IX.INDEX_ID=1 
			ORDER BY IX.INDEX_COLUMN_ID
	FOR READ ONLY
	
	OPEN @CUR_TAB_COL
	FETCH NEXT FROM @CUR_TAB_COL INTO @SQL_STRING
	
	SELECT @CANTCOLREAL=0 
	
    WHILE @@FETCH_STATUS = 0 	
	BEGIN
		SELECT @CANTCOLREAL=@CANTCOLREAL + 1
		IF @CANTCOLTOTAL=@CANTCOLREAL
		BEGIN
			SET @SQL_STRING_DECLARE =  @SQL_STRING_DECLARE + '	' + @SQL_STRING + ' ' + CHAR(13) + CHAR(10)				
		END
		ELSE
		BEGIN
			SET @SQL_STRING_DECLARE =  @SQL_STRING_DECLARE + '	' + @SQL_STRING + ' AND' + CHAR(13) + CHAR(10)		
		END
		
		FETCH NEXT FROM @CUR_TAB_COL INTO @SQL_STRING

	END
			
	CLOSE @CUR_TAB_COL
	DEALLOCATE @CUR_TAB_COL
	
	SET @SQL_STRING_DECLARE= @SQL_STRING_DECLARE + '	WHERE D.DEBAJA <>''S'' OR D.DEBAJA IS NULL ' + CHAR(13) + CHAR(10) + CHAR(13) + CHAR(10) 
	SET @SQL_STRING_DECLARE= @SQL_STRING_DECLARE + '	IF @@ERROR <> 0 ' + CHAR(13) + CHAR(10) 
	SET @SQL_STRING_DECLARE= @SQL_STRING_DECLARE + '	BEGIN ' + CHAR(13) + CHAR(10) 
	SET @SQL_STRING_DECLARE= @SQL_STRING_DECLARE + '		ROLLBACK TRAN ' + CHAR(13) + CHAR(10) 
	SET @SQL_STRING_DECLARE= @SQL_STRING_DECLARE + '		RAISERROR(''Tabla ' + @NOMBRETABLA  + ' - Error al marcar registros con baja lógica'',16,1) ' + CHAR(13) + CHAR(10) 
	SET @SQL_STRING_DECLARE= @SQL_STRING_DECLARE + '	END ' + CHAR(13) + CHAR(10) 	
	SET @SQL_STRING_DECLARE= @SQL_STRING_DECLARE + 'END ' + CHAR(13) + CHAR(10) 

    SELECT @DESCRIPCIONERROR='Resultado'
	delete from rdo
	
	insert into RDO 
	SELECT @SQL_STRING_DECLARE	
	
	SELECT @SQL_STRING_DECLARE	
		
	SELECT @DESCRIPCIONERROR='Creacion o actualizacion del Trigger de auditoria de DELETE'

	EXEC(@SQL_STRING_DECLARE)

	SET @SQL_STRING_DECLARE = ''

	SELECT @DESCRIPCIONERROR='Armado de creacion o modificacion de trigger de UPDATE/INSERT'

	IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[TR_' + @NOMBRETABLA +'_UPDINS]'))
	BEGIN
		SET @SQL_STRING_DECLARE= @SQL_STRING_DECLARE + 'CREATE TRIGGER TR_' + @NOMBRETABLA +'_UPDINS ' + CHAR(13) + CHAR(10)
	END
	ELSE
	BEGIN
		SET @SQL_STRING_DECLARE= @SQL_STRING_DECLARE + 'ALTER TRIGGER TR_' + @NOMBRETABLA  +'_UPDINS ' +  CHAR(13) + CHAR(10)
	END
	
	SET @SQL_STRING_DECLARE= @SQL_STRING_DECLARE + 'ON  [dbo].[' + @NOMBRETABLA  + '] ' + CHAR(13) + CHAR(10)
	SET @SQL_STRING_DECLARE= @SQL_STRING_DECLARE + 'AFTER INSERT, UPDATE' + CHAR(13) + CHAR(10)
	SET @SQL_STRING_DECLARE= @SQL_STRING_DECLARE + 'AS' + CHAR(13) + CHAR(10)
	SET @SQL_STRING_DECLARE= @SQL_STRING_DECLARE + 'BEGIN' + CHAR(13) + CHAR(10) + CHAR(13) + CHAR(10)
	SET @SQL_STRING_DECLARE= @SQL_STRING_DECLARE + '	SET NOCOUNT ON' + CHAR(13) + CHAR(10) + CHAR(13) + CHAR(10)
	SET @SQL_STRING_DECLARE= @SQL_STRING_DECLARE + '	DECLARE @Operation CHAR(1)' + CHAR(13) + CHAR(10) + CHAR(13) + CHAR(10)
	SET @SQL_STRING_DECLARE= @SQL_STRING_DECLARE + '	IF EXISTS(SELECT 1 FROM DELETED)' + CHAR(13) + CHAR(10) 
	SET @SQL_STRING_DECLARE= @SQL_STRING_DECLARE + '		SET @Operation = ''M''' + CHAR(13) + CHAR(10) 
	SET @SQL_STRING_DECLARE= @SQL_STRING_DECLARE + '	ELSE' + CHAR(13) + CHAR(10) 
	SET @SQL_STRING_DECLARE= @SQL_STRING_DECLARE + '		SET @Operation = ''A''' + CHAR(13) + CHAR(10)  + CHAR(13) + CHAR(10) 

	SET @SQL_STRING_DECLARE= @SQL_STRING_DECLARE + '	IF @Operation =''M''' + CHAR(13) + CHAR(10) 
	SET @SQL_STRING_DECLARE= @SQL_STRING_DECLARE + '	BEGIN' + CHAR(13) + CHAR(10) 
	SET @SQL_STRING_DECLARE= @SQL_STRING_DECLARE + '		IF EXISTS (SELECT 1 FROM DELETED WHERE DEBAJA = ''S'')' + CHAR(13) + CHAR(10) 
	SET @SQL_STRING_DECLARE= @SQL_STRING_DECLARE + '		BEGIN' + CHAR(13) + CHAR(10) 
	SET @SQL_STRING_DECLARE= @SQL_STRING_DECLARE + '			ROLLBACK TRAN' + CHAR(13) + CHAR(10) 
	SET @SQL_STRING_DECLARE= @SQL_STRING_DECLARE + '			RAISERROR(''Tabla ' + @NOMBRETABLA + ' - No se puede eliminar/modificar registros con baja lógica'',16,1)' + CHAR(13) + CHAR(10) 
	SET @SQL_STRING_DECLARE= @SQL_STRING_DECLARE + '		END' + CHAR(13) + CHAR(10) 
	SET @SQL_STRING_DECLARE= @SQL_STRING_DECLARE + '		ELSE' + CHAR(13) + CHAR(10) 
	SET @SQL_STRING_DECLARE= @SQL_STRING_DECLARE + '		BEGIN' + CHAR(13) + CHAR(10) + CHAR(13) + CHAR(10)
	
	SET @SQL_STRING_DECLARE= @SQL_STRING_DECLARE + '			UPDATE ' + @NOMBRETABLA  + CHAR(13) + CHAR(10) 
	SET @SQL_STRING_DECLARE= @SQL_STRING_DECLARE + '			SET DEBAJA = ''N'', ' + CHAR(13) + CHAR(10) 
	SET @SQL_STRING_DECLARE= @SQL_STRING_DECLARE + '			FECMOD = GETDATE(), ' + CHAR(13) + CHAR(10) 
	SET @SQL_STRING_DECLARE= @SQL_STRING_DECLARE + '			USERID = SYSTEM_USER,  ' + CHAR(13) + CHAR(10) 
	SET @SQL_STRING_DECLARE= @SQL_STRING_DECLARE + '			ULTOPR = ''M'', ' + CHAR(13) + CHAR(10) 
	SET @SQL_STRING_DECLARE= @SQL_STRING_DECLARE + '			HORMOV=GETDATE() ' + CHAR(13) + CHAR(10) 
	SET @SQL_STRING_DECLARE= @SQL_STRING_DECLARE + '			FROM INSERTED D INNER JOIN ' + @NOMBRETABLA  +  ' T ON ' + CHAR(13) + CHAR(10) 
	
	SELECT @CANTCOLTOTAL=COUNT(1) 
	FROM SYS.TABLES T  
	INNER JOIN SYS.INDEX_COLUMNS IX ON T.OBJECT_ID = IX.OBJECT_ID 
	INNER JOIN SYS.COLUMNS C ON T.OBJECT_ID = C.OBJECT_ID AND C.column_id=IX.column_id
	WHERE T.NAME = @NOMBRETABLA  AND IX.INDEX_ID=1 
			
	SELECT @DESCRIPCIONERROR='Consulta de campos claves'
	
	SET @CUR_TAB_COL = CURSOR  FOR
			SELECT 'D.' + C.NAME + '=T.'+ C.NAME AS SQLTRING
			FROM SYS.TABLES T  
			INNER JOIN SYS.INDEX_COLUMNS IX ON T.OBJECT_ID = IX.OBJECT_ID 
			INNER JOIN SYS.COLUMNS C ON T.OBJECT_ID = C.OBJECT_ID AND C.column_id=IX.column_id
			WHERE T.NAME = @NOMBRETABLA  AND IX.INDEX_ID=1 
			ORDER BY IX.INDEX_COLUMN_ID
	FOR READ ONLY
	
	OPEN @CUR_TAB_COL
	FETCH NEXT FROM @CUR_TAB_COL INTO @SQL_STRING
	
	SELECT @CANTCOLREAL=0 
	
    WHILE @@FETCH_STATUS = 0 	
	BEGIN
		SELECT @CANTCOLREAL=@CANTCOLREAL + 1
		IF @CANTCOLTOTAL=@CANTCOLREAL
		BEGIN
			SET @SQL_STRING_DECLARE =  @SQL_STRING_DECLARE + '			' + @SQL_STRING + ' ' + CHAR(13) + CHAR(10)				
		END
		ELSE
		BEGIN
			SET @SQL_STRING_DECLARE =  @SQL_STRING_DECLARE + '			' + @SQL_STRING + ' AND' + CHAR(13) + CHAR(10)		
		END
		
		FETCH NEXT FROM @CUR_TAB_COL INTO @SQL_STRING

	END
			
	CLOSE @CUR_TAB_COL
	DEALLOCATE @CUR_TAB_COL
	
	SET @SQL_STRING_DECLARE= @SQL_STRING_DECLARE + '			WHERE D.DEBAJA <>''S'' OR D.DEBAJA IS NULL ' + CHAR(13) + CHAR(10) + CHAR(13) + CHAR(10)
	SET @SQL_STRING_DECLARE= @SQL_STRING_DECLARE + '			IF @@ERROR <> 0' + CHAR(13) + CHAR(10) 
	SET @SQL_STRING_DECLARE= @SQL_STRING_DECLARE + '			BEGIN' + CHAR(13) + CHAR(10) 
	SET @SQL_STRING_DECLARE= @SQL_STRING_DECLARE + '				ROLLBACK TRAN' + CHAR(13) + CHAR(10) 
	SET @SQL_STRING_DECLARE= @SQL_STRING_DECLARE + '				RAISERROR(''Tabla ' + @NOMBRETABLA + ' - Error al actualizar datos de auditoría'',16,1)' + CHAR(13) + CHAR(10) 	
	SET @SQL_STRING_DECLARE= @SQL_STRING_DECLARE + '			END' + CHAR(13) + CHAR(10) 
	SET @SQL_STRING_DECLARE= @SQL_STRING_DECLARE + '		END' + CHAR(13) + CHAR(10) 	
	SET @SQL_STRING_DECLARE= @SQL_STRING_DECLARE + '	END' + CHAR(13) + CHAR(10) 		
	SET @SQL_STRING_DECLARE= @SQL_STRING_DECLARE + '	ELSE' + CHAR(13) + CHAR(10) 
	SET @SQL_STRING_DECLARE= @SQL_STRING_DECLARE + '	BEGIN' + CHAR(13) + CHAR(10) + CHAR(13) + CHAR(10)

	SET @SQL_STRING_DECLARE= @SQL_STRING_DECLARE + '		UPDATE ' + @NOMBRETABLA  + CHAR(13) + CHAR(10) 
	SET @SQL_STRING_DECLARE= @SQL_STRING_DECLARE + '		SET FECALT = GETDATE(), ' + CHAR(13) + CHAR(10)
	SET @SQL_STRING_DECLARE= @SQL_STRING_DECLARE + '		DEBAJA = ''N'', ' + CHAR(13) + CHAR(10) 
	SET @SQL_STRING_DECLARE= @SQL_STRING_DECLARE + '		FECMOD = GETDATE(), ' + CHAR(13) + CHAR(10) 
	SET @SQL_STRING_DECLARE= @SQL_STRING_DECLARE + '		USERID = SYSTEM_USER,  ' + CHAR(13) + CHAR(10) 
	SET @SQL_STRING_DECLARE= @SQL_STRING_DECLARE + '		ULTOPR = ''A'', ' + CHAR(13) + CHAR(10) 
	SET @SQL_STRING_DECLARE= @SQL_STRING_DECLARE + '		HORMOV=GETDATE() ' + CHAR(13) + CHAR(10) 
	SET @SQL_STRING_DECLARE= @SQL_STRING_DECLARE + '		FROM INSERTED D INNER JOIN ' + @NOMBRETABLA  +  ' T ON ' + CHAR(13) + CHAR(10) 
	
	SELECT @CANTCOLTOTAL=COUNT(1) 
	FROM SYS.TABLES T  
	INNER JOIN SYS.INDEX_COLUMNS IX ON T.OBJECT_ID = IX.OBJECT_ID 
	INNER JOIN SYS.COLUMNS C ON T.OBJECT_ID = C.OBJECT_ID AND C.column_id=IX.column_id
	WHERE T.NAME = @NOMBRETABLA  AND IX.INDEX_ID=1 
			
	SELECT @DESCRIPCIONERROR='Consulta de campos claves'
	
	SET @CUR_TAB_COL = CURSOR  FOR
			SELECT 'D.' + C.NAME + '=T.'+ C.NAME AS SQLTRING
			FROM SYS.TABLES T  
			INNER JOIN SYS.INDEX_COLUMNS IX ON T.OBJECT_ID = IX.OBJECT_ID 
			INNER JOIN SYS.COLUMNS C ON T.OBJECT_ID = C.OBJECT_ID AND C.column_id=IX.column_id
			WHERE T.NAME = @NOMBRETABLA  AND IX.INDEX_ID=1 
			ORDER BY IX.INDEX_COLUMN_ID
	FOR READ ONLY
	
	OPEN @CUR_TAB_COL
	FETCH NEXT FROM @CUR_TAB_COL INTO @SQL_STRING
	
	SELECT @CANTCOLREAL=0 
	
    WHILE @@FETCH_STATUS = 0 	
	BEGIN
		SELECT @CANTCOLREAL=@CANTCOLREAL + 1
		IF @CANTCOLTOTAL=@CANTCOLREAL
		BEGIN
			SET @SQL_STRING_DECLARE =  @SQL_STRING_DECLARE + '		' + @SQL_STRING + ' ' + CHAR(13) + CHAR(10)				
		END
		ELSE
		BEGIN
			SET @SQL_STRING_DECLARE =  @SQL_STRING_DECLARE + '		' + @SQL_STRING + ' AND' + CHAR(13) + CHAR(10)		
		END
		
		FETCH NEXT FROM @CUR_TAB_COL INTO @SQL_STRING

	END
			
	CLOSE @CUR_TAB_COL
	DEALLOCATE @CUR_TAB_COL
	
	SET @SQL_STRING_DECLARE= @SQL_STRING_DECLARE + '		WHERE D.DEBAJA <>''S'' OR D.DEBAJA IS NULL ' + CHAR(13) + CHAR(10) + CHAR(13) + CHAR(10)
	SET @SQL_STRING_DECLARE= @SQL_STRING_DECLARE + '		IF @@ERROR <> 0' + CHAR(13) + CHAR(10) 
	SET @SQL_STRING_DECLARE= @SQL_STRING_DECLARE + '		BEGIN' + CHAR(13) + CHAR(10) 
	SET @SQL_STRING_DECLARE= @SQL_STRING_DECLARE + '			ROLLBACK TRAN' + CHAR(13) + CHAR(10) 
	SET @SQL_STRING_DECLARE= @SQL_STRING_DECLARE + '			RAISERROR(''Tabla ' + @NOMBRETABLA + ' - Error al actualizar datos de auditoría'',16,1)' + CHAR(13) + CHAR(10) 	
	SET @SQL_STRING_DECLARE= @SQL_STRING_DECLARE + '		END' + CHAR(13) + CHAR(10) 
	
	SET @SQL_STRING_DECLARE= @SQL_STRING_DECLARE + '	END' + CHAR(13) + CHAR(10) 				
						
						
	SET @SQL_STRING_DECLARE= @SQL_STRING_DECLARE + 'END' + CHAR(13) + CHAR(10) 

		



    SELECT @DESCRIPCIONERROR='Resultado'
	delete from rdo
	
	insert into RDO 
	SELECT @SQL_STRING_DECLARE	
	
	SELECT @SQL_STRING_DECLARE	
		
	SELECT @DESCRIPCIONERROR='Creacion o actualizacion del Trigger de auditoria'

	EXEC(@SQL_STRING_DECLARE)

END TRY

BEGIN CATCH

	SET @intReturn = 0 -- Valor de Retorno de la sp, 0 si no hubo errores, o 1 si hubo errores

    SET @vchSPName =  OBJECT_NAME(@@PROCID)
	
	GOTO OnError

END CATCH

GOTO OnExit

OnError:
	SET @intReturn = 1

    IF @ErrPro = ''
	    SET @ErrPro = @vchSPName 

    IF @ErrRef <> ''    
        SET @ErrRef = @ErrRef + ' '

	SELECT  @DESCRIPCIONERROR
	
	INSERT INTO PTINT_LOGERRORES 
    (TABLA,IDPROCESO, IDEXECPROCESO, DESCRIPCION, ERROR, FILA, 
    ERROR_LINE, ERROR_MESSAGE, ERROR_PROCEDURE, 
    ERROR_NUMBER, ERROR_SEVERITY, ERROR_STATE,
    FECALT, USERID)  
    VALUES (@NOMBRETABLA,0, 0, @DESCRIPCIONERROR,  @@ERROR, @@ROWCOUNT,
	ERROR_LINE(), ERROR_MESSAGE(), ERROR_PROCEDURE(), 
	ERROR_NUMBER(), ERROR_SEVERITY(),ERROR_STATE(),
	@FECHAINTEGRACION,SYSTEM_USER )     
	
	 --RAISERROR (@DESCRIPCIONERROR,16,1)  
										            
	RETURN @intReturn 

OnExit:
	RETURN @intReturn 


return 0
GO
/****** Object:  StoredProcedure [dbo].[SP_PTINT_GENERADOR_TABLA_AUDITORIA]    Script Date: 02/07/2011 00:11:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_PTINT_GENERADOR_TABLA_AUDITORIA] (
	@NOMBRETABLA VARCHAR(255), -- Nombre de tabla
	@DB  VARCHAR(255)  )       -- Nombre de la base de datos 
AS

DECLARE 
	@FECHAINTEGRACION DATETIME,
	@DESCRIPCIONERROR VARCHAR(MAX),
	@intReturn int

BEGIN TRY

SET @intReturn = 0
	
SELECT @DESCRIPCIONERROR='Creacion de tabla de auditoria'

EXEC (

	'IF (SELECT COUNT(1)
	FROM ' + @DB + '.SYS.TABLES T    
	WHERE T.NAME = ''' + @NOMBRETABLA + '_AUD'') = 0
	BEGIN
		SELECT * INTO ' + @DB + '..' + @NOMBRETABLA + '_AUD FROM ' + @DB + '..' + @NOMBRETABLA + ' WHERE 1=2
	END
	ELSE
	BEGIN
		SELECT ''No es posible crear la tabla de auditoria ' + @NOMBRETABLA + '_AUD porque ya existe.''
	END
	')


END TRY

BEGIN CATCH

	SET @intReturn = 0 -- Valor de Retorno de la sp, 0 si no hubo errores, o 1 si hubo errores

	
	GOTO OnError

END CATCH

GOTO OnExit
OnError:
	SET @intReturn = 1


	SELECT  @DESCRIPCIONERROR
	
	INSERT INTO PTINT_LOGERRORES 
    (TABLA,IDPROCESO, IDEXECPROCESO, DESCRIPCION, ERROR, FILA, 
    ERROR_LINE, ERROR_MESSAGE, ERROR_PROCEDURE, 
    ERROR_NUMBER, ERROR_SEVERITY, ERROR_STATE,
    FECALT, USERID)  
    VALUES (@NOMBRETABLA,0, 0, @DESCRIPCIONERROR,  @@ERROR, @@ROWCOUNT,
	ERROR_LINE(), ERROR_MESSAGE(), ERROR_PROCEDURE(), 
	ERROR_NUMBER(), ERROR_SEVERITY(),ERROR_STATE(),
	@FECHAINTEGRACION,SYSTEM_USER )     
	
	RAISERROR (@DESCRIPCIONERROR,16,1)  
										            
	RETURN @intReturn 

OnExit:
	RETURN @intReturn
GO
/****** Object:  StoredProcedure [dbo].[SP_PTINT_GENERADOR_CAMPOS_AUDITORIA]    Script Date: 02/07/2011 00:11:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_PTINT_GENERADOR_CAMPOS_AUDITORIA] (
	@NOMBRETABLA VARCHAR(255), -- Nombre de tabla
	@DB  VARCHAR(255)  )       -- Nombre de la base de datos 
AS

DECLARE 
	@FECHAINTEGRACION DATETIME,
	@DESCRIPCIONERROR VARCHAR(MAX),
	@intReturn int

BEGIN TRY

SET @intReturn = 0

SELECT @FECHAINTEGRACION = GETDATE()
	
SELECT @DESCRIPCIONERROR='Actualizacion de campos de auditoria'

EXEC (

	'	
	
	IF (SELECT COUNT(1)
	FROM ' + @DB + '.SYS.TABLES T  INNER JOIN ' + @DB + '.SYS.COLUMNS C on T.OBJECT_ID = C.OBJECT_ID
	INNER JOIN ' + @DB + '.SYS.TYPES TD ON TD.SYSTEM_TYPE_ID = C.SYSTEM_TYPE_ID  
	WHERE T.NAME = ''' + @NOMBRETABLA + ''' AND C.name=''FECALT'') = 0
	BEGIN
		ALTER TABLE ' + @DB + '..' + @NOMBRETABLA + ' 
		ADD FECALT DATETIME
	END
	ELSE
	BEGIN
		IF (SELECT COUNT(1)
			FROM ' + @DB + '.SYS.TABLES T  INNER JOIN ' + @DB + '.SYS.COLUMNS C on T.OBJECT_ID = C.OBJECT_ID
			INNER JOIN ' + @DB + '.SYS.TYPES TD ON TD.SYSTEM_TYPE_ID = C.SYSTEM_TYPE_ID  
			WHERE T.NAME = ''' + @NOMBRETABLA + '''  AND C.name=''FECALT'' AND UPPER(TD.NAME)=''DATETIME'') = 0
		BEGIN
		
					ALTER TABLE ' + @DB + '..' + @NOMBRETABLA + '  
					DROP COLUMN FECALT 
			
					ALTER TABLE ' + @DB + '..' + @NOMBRETABLA + '  
					ADD FECALT DATETIME
		END
	END

	IF (SELECT COUNT(1)
	FROM ' + @DB + '.SYS.TABLES T  INNER  JOIN ' + @DB + '.SYS.COLUMNS C on T.OBJECT_ID = C.OBJECT_ID
	INNER  JOIN ' + @DB + '.SYS.TYPES TD ON TD.SYSTEM_TYPE_ID = C.SYSTEM_TYPE_ID  
	WHERE T.NAME = ''' + @NOMBRETABLA + '''  AND C.name=''FECMOD'') = 0
	BEGIN
				ALTER TABLE ' + @DB + '..' + @NOMBRETABLA + '  
		ADD FECMOD DATETIME
	END
	ELSE
	BEGIN
		IF (SELECT COUNT(1)
			FROM ' + @DB + '.SYS.TABLES T  INNER  JOIN ' + @DB + '.SYS.COLUMNS C on T.OBJECT_ID = C.OBJECT_ID
			INNER  JOIN ' + @DB + '.SYS.TYPES TD ON TD.SYSTEM_TYPE_ID = C.SYSTEM_TYPE_ID  
			WHERE T.NAME = ''' + @NOMBRETABLA + '''  AND C.name=''FECMOD'' AND UPPER(TD.NAME)=''DATETIME'') = 0
		BEGIN
		
					ALTER TABLE ' + @DB + '..' + @NOMBRETABLA + '  
			DROP COLUMN FECMOD 
			
					ALTER TABLE ' + @DB + '..' + @NOMBRETABLA + '  
			ADD FECMOD DATETIME
		END
	END


	IF (SELECT COUNT(1)
	FROM ' + @DB + '.SYS.TABLES T  INNER  JOIN ' + @DB + '.SYS.COLUMNS C on T.OBJECT_ID = C.OBJECT_ID
	INNER  JOIN ' + @DB + '.SYS.TYPES TD ON TD.SYSTEM_TYPE_ID = C.SYSTEM_TYPE_ID  
	WHERE T.NAME = ''' + @NOMBRETABLA + '''  AND C.name=''USERID'') = 0
	BEGIN
				ALTER TABLE ' + @DB + '..' + @NOMBRETABLA + '  
		ADD USERID VARCHAR(50)
	END
	ELSE
	BEGIN
		IF (SELECT COUNT(1)
			FROM ' + @DB + '.SYS.TABLES T  INNER  JOIN ' + @DB + '.SYS.COLUMNS C on T.OBJECT_ID = C.OBJECT_ID
			INNER  JOIN ' + @DB + '.SYS.TYPES TD ON TD.SYSTEM_TYPE_ID = C.SYSTEM_TYPE_ID  
			WHERE T.NAME = ''' + @NOMBRETABLA + '''  AND C.name=''USERID'' AND UPPER(TD.NAME)=''VARCHAR'' AND C.MAX_LENGTH=50
			) = 0
		BEGIN
		
					ALTER TABLE ' + @DB + '..' + @NOMBRETABLA + '  
			DROP COLUMN USERID 
			
					ALTER TABLE ' + @DB + '..' + @NOMBRETABLA + '  
			ADD USERID VARCHAR(50)
		END
	END


	IF (SELECT COUNT(1)
	FROM ' + @DB + '.SYS.TABLES T  INNER  JOIN ' + @DB + '.SYS.COLUMNS C on T.OBJECT_ID = C.OBJECT_ID
	INNER  JOIN ' + @DB + '.SYS.TYPES TD ON TD.SYSTEM_TYPE_ID = C.SYSTEM_TYPE_ID  
	WHERE T.NAME = ''' + @NOMBRETABLA + '''  AND C.name=''ULTOPR'') = 0
	BEGIN
				ALTER TABLE ' + @DB + '..' + @NOMBRETABLA + '  
		ADD ULTOPR CHAR(1)
	END
	ELSE
	BEGIN
		IF (SELECT COUNT(1)
			FROM ' + @DB + '.SYS.TABLES T  INNER  JOIN ' + @DB + '.SYS.COLUMNS C on T.OBJECT_ID = C.OBJECT_ID
			INNER  JOIN ' + @DB + '.SYS.TYPES TD ON TD.SYSTEM_TYPE_ID = C.SYSTEM_TYPE_ID  
			WHERE T.NAME = ''' + @NOMBRETABLA + '''  AND C.name=''ULTOPR'' AND UPPER(TD.NAME)=''CHAR'' AND C.MAX_LENGTH=1
			) = 0
		BEGIN
		
					ALTER TABLE ' + @DB + '..' + @NOMBRETABLA + '  
			DROP COLUMN ULTOPR 
			
					ALTER TABLE ' + @DB + '..' + @NOMBRETABLA + '  
			ADD ULTOPR CHAR(1)
		END
	END


	IF (SELECT COUNT(1)
	FROM ' + @DB + '.SYS.TABLES T  INNER  JOIN ' + @DB + '.SYS.COLUMNS C on T.OBJECT_ID = C.OBJECT_ID
	INNER  JOIN ' + @DB + '.SYS.TYPES TD ON TD.SYSTEM_TYPE_ID = C.SYSTEM_TYPE_ID  
	WHERE T.NAME = ''' + @NOMBRETABLA + '''  AND C.NAME=''DEBAJA'') = 0
	BEGIN
				ALTER TABLE ' + @DB + '..' + @NOMBRETABLA + '  
		ADD DEBAJA CHAR(1)
	END
	ELSE
	BEGIN
		IF (SELECT COUNT(1)
			FROM ' + @DB + '.SYS.TABLES T  INNER  JOIN ' + @DB + '.SYS.COLUMNS C on T.OBJECT_ID = C.OBJECT_ID
			INNER  JOIN ' + @DB + '.SYS.TYPES TD ON TD.SYSTEM_TYPE_ID = C.SYSTEM_TYPE_ID  
			WHERE T.NAME = ''' + @NOMBRETABLA + '''  AND C.name=''DEBAJA'' AND UPPER(TD.NAME)=''CHAR'' AND C.MAX_LENGTH=1
			) = 0
		BEGIN
		
					ALTER TABLE ' + @DB + '..' + @NOMBRETABLA + '  
			DROP COLUMN DEBAJA 
			
					ALTER TABLE ' + @DB + '..' + @NOMBRETABLA + '  
			ADD DEBAJA CHAR(1)
		END
	END


	IF (SELECT COUNT(1)
	FROM ' + @DB + '.SYS.TABLES T  INNER  JOIN ' + @DB + '.SYS.COLUMNS C on T.OBJECT_ID = C.OBJECT_ID
	INNER  JOIN ' + @DB + '.SYS.TYPES TD ON TD.SYSTEM_TYPE_ID = C.SYSTEM_TYPE_ID  
	WHERE T.NAME = ''' + @NOMBRETABLA + '''  AND C.name=''HORMOV'') = 0
	BEGIN
				ALTER TABLE ' + @DB + '..' + @NOMBRETABLA + '  
		ADD HORMOV VARCHAR(10)
	END
	ELSE
	BEGIN
		IF (SELECT COUNT(1)
			FROM ' + @DB + '.SYS.TABLES T  INNER  JOIN ' + @DB + '.SYS.COLUMNS C on T.OBJECT_ID = C.OBJECT_ID
			INNER  JOIN ' + @DB + '.SYS.TYPES TD ON TD.SYSTEM_TYPE_ID = C.SYSTEM_TYPE_ID  
			WHERE T.NAME = ''' + @NOMBRETABLA + '''  AND C.name=''HORMOV'' AND UPPER(TD.NAME)=''VARCHAR'' AND C.MAX_LENGTH=10
			) = 0
		BEGIN
		
					ALTER TABLE ' + @DB + '..' + @NOMBRETABLA + '  
					DROP COLUMN HORMOV 
			
					ALTER TABLE ' + @DB + '..' + @NOMBRETABLA + '  
					ADD HORMOV VARCHAR(10)
		END
	END

	')

END TRY

BEGIN CATCH

	SET @intReturn = 0 -- Valor de Retorno de la sp, 0 si no hubo errores, o 1 si hubo errores

	
	GOTO OnError

END CATCH

GOTO OnExit
OnError:
	SET @intReturn = 1


	SELECT  @DESCRIPCIONERROR
	
	INSERT INTO PTINT_LOGERRORES 
    (TABLA,IDPROCESO, IDEXECPROCESO, DESCRIPCION, ERROR, FILA, 
    ERROR_LINE, ERROR_MESSAGE, ERROR_PROCEDURE, 
    ERROR_NUMBER, ERROR_SEVERITY, ERROR_STATE,
    FECALT, USERID)  
    VALUES (@NOMBRETABLA,0, 0, @DESCRIPCIONERROR,  @@ERROR, @@ROWCOUNT,
	ERROR_LINE(), ERROR_MESSAGE(), ERROR_PROCEDURE(), 
	ERROR_NUMBER(), ERROR_SEVERITY(),ERROR_STATE(),
	@FECHAINTEGRACION,SYSTEM_USER )     
	
	RAISERROR (@DESCRIPCIONERROR,16,1)  
										            
	RETURN @intReturn 

OnExit:
	RETURN @intReturn
GO
/****** Object:  Table [dbo].[employeeData]    Script Date: 02/07/2011 00:11:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[employeeData](
	[emp_id] [int] NOT NULL,
	[emp_bankAccountNumber] [char](10) NOT NULL,
	[emp_salary] [int] NOT NULL,
	[emp_SSN] [char](11) NOT NULL,
	[emp_lname] [nchar](32) NOT NULL,
	[emp_fname] [nchar](32) NOT NULL,
	[emp_manager] [int] NOT NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Trigger [TR_TABLAEJEMPLO_DEL]    Script Date: 02/07/2011 00:11:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[TR_TABLAEJEMPLO_DEL] 
   ON  [dbo].[TABLAEJEMPLO] 
   INSTEAD OF DELETE
AS 
BEGIN
	
	SET NOCOUNT ON;
	
	UPDATE dbo.TABLAEJEMPLO	
		SET DEBAJA = 'S', 
		FECMOD = GETDATE(),
		USERID = SYSTEM_USER, 
		ULTOPR = 'B', 
		HORMOV=GETDATE()
	FROM DELETED D INNER JOIN TABLAEJEMPLO T
	ON D.ID=T.ID
	WHERE D.DEBAJA <>'S' OR D.DEBAJA IS NULL
	
	IF @@ERROR <> 0
	BEGIN
			ROLLBACK TRAN
			RAISERROR('Tabla TABLAEJEMPLO - Error al marcar registros con baja lógica',16,1)
	END	
END
GO
/****** Object:  Trigger [TR_EJEMPLOCOMP_UPDINS]    Script Date: 02/07/2011 00:11:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[TR_EJEMPLOCOMP_UPDINS] 
ON  [dbo].[EJEMPLOCOMP] 
AFTER INSERT, UPDATE
AS
BEGIN

	SET NOCOUNT ON

	DECLARE @Operation CHAR(1)

	IF EXISTS(SELECT 1 FROM DELETED)
		SET @Operation = 'M'
	ELSE
		SET @Operation = 'A'

	IF @Operation ='M'
	BEGIN
		IF EXISTS (SELECT 1 FROM DELETED WHERE DEBAJA = 'S')
		BEGIN
			ROLLBACK TRAN
			RAISERROR('Tabla EJEMPLOCOMP - No se puede eliminar/modificar registros con baja lógica',16,1)
		END
		ELSE
		BEGIN

			UPDATE EJEMPLOCOMP
			SET DEBAJA = 'N', 
			FECMOD = GETDATE(), 
			USERID = SYSTEM_USER,  
			ULTOPR = 'M', 
			HORMOV=GETDATE() 
			FROM INSERTED D INNER JOIN EJEMPLOCOMP T ON 
			D.CLAVE1=T.CLAVE1 AND
			D.CLAVE2=T.CLAVE2 
			WHERE D.DEBAJA <>'S' OR D.DEBAJA IS NULL 

			IF @@ERROR <> 0
			BEGIN
				ROLLBACK TRAN
				RAISERROR('Tabla EJEMPLOCOMP - Error al actualizar datos de auditoría',16,1)
			END
		END
	END
	ELSE
	BEGIN

		UPDATE EJEMPLOCOMP
		SET FECALT = GETDATE(), 
		DEBAJA = 'N', 
		FECMOD = GETDATE(), 
		USERID = SYSTEM_USER,  
		ULTOPR = 'A', 
		HORMOV=GETDATE() 
		FROM INSERTED D INNER JOIN EJEMPLOCOMP T ON 
		D.CLAVE1=T.CLAVE1 AND
		D.CLAVE2=T.CLAVE2 
		WHERE D.DEBAJA <>'S' OR D.DEBAJA IS NULL 

		IF @@ERROR <> 0
		BEGIN
			ROLLBACK TRAN
			RAISERROR('Tabla EJEMPLOCOMP - Error al actualizar datos de auditoría',16,1)
		END
	END
END
GO
/****** Object:  Trigger [TR_EJEMPLOCOMP_DEL]    Script Date: 02/07/2011 00:11:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[TR_EJEMPLOCOMP_DEL] 
ON  [dbo].[EJEMPLOCOMP] 
INSTEAD OF DELETE
AS
BEGIN

	SET NOCOUNT ON;
	UPDATE dbo.EJEMPLOCOMP
	SET DEBAJA = 'S', 
	FECMOD = GETDATE(), 
	USERID = SYSTEM_USER,  
	ULTOPR = 'B', 
	HORMOV=GETDATE() 
	FROM DELETED D INNER JOIN EJEMPLOCOMP T ON 
	D.CLAVE1=T.CLAVE1 AND
	D.CLAVE2=T.CLAVE2 
	WHERE D.DEBAJA <>'S' OR D.DEBAJA IS NULL 
	IF @@ERROR <> 0 
	BEGIN 
		ROLLBACK TRAN 
		RAISERROR('Tabla EJEMPLOCOMP - Error al marcar registros con baja lógica',16,1) 
	END 
END
GO
/****** Object:  Trigger [TR_EJEMPLO_UPDINS]    Script Date: 02/07/2011 00:11:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[TR_EJEMPLO_UPDINS] 
ON  [dbo].[EJEMPLO] 
AFTER INSERT, UPDATE
AS
BEGIN

	SET NOCOUNT ON

	DECLARE @Operation CHAR(1)

	IF EXISTS(SELECT 1 FROM DELETED)
		SET @Operation = 'M'
	ELSE
		SET @Operation = 'A'

	IF @Operation ='M'
	BEGIN
		IF EXISTS (SELECT 1 FROM DELETED WHERE DEBAJA = 'S')
		BEGIN
			ROLLBACK TRAN
			RAISERROR('Tabla EJEMPLO - No se puede eliminar/modificar registros con baja lógica',16,1)
		END
		ELSE
		BEGIN

			UPDATE EJEMPLO
			SET DEBAJA = 'N', 
			FECMOD = GETDATE(), 
			USERID = SYSTEM_USER,  
			ULTOPR = 'M', 
			HORMOV=GETDATE() 
			FROM INSERTED D INNER JOIN EJEMPLO T ON 
			D.ID=T.ID 
			WHERE D.DEBAJA <>'S' OR D.DEBAJA IS NULL 

			IF @@ERROR <> 0
			BEGIN
				ROLLBACK TRAN
				RAISERROR('Tabla EJEMPLO - Error al actualizar datos de auditoría',16,1)
			END
		END
	END
	ELSE
	BEGIN

		UPDATE EJEMPLO
		SET FECALT = GETDATE(), 
		DEBAJA = 'N', 
		FECMOD = GETDATE(), 
		USERID = SYSTEM_USER,  
		ULTOPR = 'A', 
		HORMOV=GETDATE() 
		FROM INSERTED D INNER JOIN EJEMPLO T ON 
		D.ID=T.ID 
		WHERE D.DEBAJA <>'S' OR D.DEBAJA IS NULL 

		IF @@ERROR <> 0
		BEGIN
			ROLLBACK TRAN
			RAISERROR('Tabla EJEMPLO - Error al actualizar datos de auditoría',16,1)
		END
	END
END
GO
/****** Object:  Trigger [TR_EJEMPLO_DEL]    Script Date: 02/07/2011 00:11:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[TR_EJEMPLO_DEL] 
ON  [dbo].[EJEMPLO] 
INSTEAD OF DELETE
AS
BEGIN

	SET NOCOUNT ON;
	UPDATE dbo.EJEMPLO
	SET DEBAJA = 'S', 
	FECMOD = GETDATE(), 
	USERID = SYSTEM_USER,  
	ULTOPR = 'B', 
	HORMOV=GETDATE() 
	FROM DELETED D INNER JOIN EJEMPLO T ON 
	D.ID=T.ID 
	WHERE D.DEBAJA <>'S' OR D.DEBAJA IS NULL 
	IF @@ERROR <> 0 
	BEGIN 
		ROLLBACK TRAN 
		RAISERROR('Tabla EJEMPLO - Error al marcar registros con baja lógica',16,1) 
	END 
END
GO
/****** Object:  Table [dbo].[TABLAEJEMPLOFINALCOMP]    Script Date: 02/07/2011 00:11:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TABLAEJEMPLOFINALCOMP](
	[ID] [numeric](18, 0) NOT NULL,
	[ID2] [numeric](18, 0) NOT NULL,
	[DESCRIPCION] [varchar](50) NULL,
	[FECALT] [datetime] NULL,
	[FECMOD] [datetime] NULL,
	[USERID] [varchar](50) NULL,
	[ULTOPR] [char](1) NULL,
	[DEBAJA] [char](1) NULL,
	[HORMOV] [varchar](10) NULL,
 CONSTRAINT [PK_TABLAEJEMPLOFINALCOMP] PRIMARY KEY CLUSTERED 
(
	[ID] ASC,
	[ID2] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TABLAEJEMPLOFINAL]    Script Date: 02/07/2011 00:11:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TABLAEJEMPLOFINAL](
	[ID] [numeric](18, 0) NOT NULL,
	[DESCRIPCION] [varchar](50) NULL,
	[FECALT] [datetime] NULL,
	[FECMOD] [datetime] NULL,
	[USERID] [varchar](50) NULL,
	[ULTOPR] [char](1) NULL,
	[DEBAJA] [char](1) NULL,
	[HORMOV] [varchar](10) NULL,
 CONSTRAINT [PK_TABLAEJEMPLOFINAL] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Trigger [TR_TABLAEJEMPLO3_UPDINS]    Script Date: 02/07/2011 00:11:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[TR_TABLAEJEMPLO3_UPDINS] 
   ON  [dbo].[TABLAEJEMPLO3] 
   AFTER INSERT, UPDATE
AS 
BEGIN
	
	SET NOCOUNT ON;
	DECLARE @Operation CHAR(1)

	IF EXISTS(SELECT 1 FROM DELETED)
	SET @Operation = 'M'
		ELSE 
	SET @Operation = 'A'

	IF @Operation ='M'
	BEGIN
		/* Si valor anterior a la modificación era DEBAJA en 'S' en algún registro 
		  se hace ROLLBACK, no se pueden eliminar registros ya eliminados lógicamente*/
		IF EXISTS (SELECT 1 FROM DELETED WHERE DEBAJA = 'S')
		BEGIN
			ROLLBACK TRAN
			RAISERROR('Tabla TABLAEJEMPLO3 - No se puede eliminar/modificar registros con baja lógica',16,1)
		END
		ELSE
		BEGIN
				
			/*Actualiza datos de auditoria de modificación de los registros */
			UPDATE dbo.TABLAEJEMPLO3	
				SET FECMOD = GETDATE(),
					USERID = SYSTEM_USER,	
					ULTOPR = 'M',
					HORMOV=GETDATE()
				FROM INSERTED I INNER JOIN TABLAEJEMPLO3 T
				ON I.CLAVE1=T.CLAVE1 AND I.CLAVE2=T.CLAVE2
				WHERE I.DEBAJA ='N' OR I.DEBAJA IS NULL
	
			IF @@ERROR <> 0
				BEGIN
						ROLLBACK TRAN
						RAISERROR('Tabla TABLAEJEMPLO3 - Error al actualizar datos de auditoría',16,1)
				END
		END
	END
	ELSE
	BEGIN
			/*Actualiza datos de auditoria de modificación de los registros */
			UPDATE dbo.TABLAEJEMPLO3	
				SET FECALT = GETDATE(),
					FECMOD = GETDATE(),
					USERID = SYSTEM_USER,	
					ULTOPR = 'A',
					DEBAJA = 'N',
					HORMOV=GETDATE()
				FROM INSERTED I INNER JOIN TABLAEJEMPLO3 T
				ON I.CLAVE1=T.CLAVE1 AND I.CLAVE2=T.CLAVE2


			IF @@ERROR <> 0
				BEGIN
						ROLLBACK TRAN
						RAISERROR('Tabla TABLAEJEMPLO3 - Error al insertar datos de auditoría',16,1)
				END
	END

END
GO
/****** Object:  Trigger [TR_TABLAEJEMPLO3_DEL]    Script Date: 02/07/2011 00:11:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[TR_TABLAEJEMPLO3_DEL] 
   ON  [dbo].[TABLAEJEMPLO3] 
   INSTEAD OF DELETE
AS 
BEGIN
	
	SET NOCOUNT ON;
	
	UPDATE dbo.TABLAEJEMPLO3	
		SET DEBAJA = 'S', 
		FECMOD = GETDATE(),
		USERID = SYSTEM_USER, 
		ULTOPR = 'B', 
		HORMOV=GETDATE()
	FROM DELETED D INNER JOIN TABLAEJEMPLO3 T
	ON D.CLAVE1=T.CLAVE1 AND D.CLAVE2=T.CLAVE2
	WHERE D.DEBAJA <>'S' OR D.DEBAJA IS NULL
	
	IF @@ERROR <> 0
	BEGIN
			ROLLBACK TRAN
			RAISERROR('Tabla TABLAEJEMPLO3 - Error al marcar registros con baja lógica',16,1)
	END	
END
GO
/****** Object:  Trigger [TR_TABLAEJEMPLO2_UPDINS]    Script Date: 02/07/2011 00:11:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[TR_TABLAEJEMPLO2_UPDINS] 
   ON  [dbo].[TABLAEJEMPLO2] 
   AFTER INSERT, UPDATE
AS 
BEGIN
	
	SET NOCOUNT ON;
	DECLARE @Operation CHAR(1)

	IF EXISTS(SELECT 1 FROM DELETED)
	SET @Operation = 'M'
		ELSE 
	SET @Operation = 'A'

	IF @Operation ='M'
	BEGIN
		/* Si valor anterior a la modificación era DEBAJA en 'S' en algún registro 
		  se hace ROLLBACK, no se pueden eliminar registros ya eliminados lógicamente*/
		IF EXISTS (SELECT 1 FROM DELETED WHERE DEBAJA = 'S')
		BEGIN
			ROLLBACK TRAN
			RAISERROR('Tabla TABLAEJEMPLO2 - No se puede eliminar/modificar registros con baja lógica',16,1)
		END
		ELSE
		BEGIN
				
			/*Actualiza datos de auditoria de modificación de los registros */
			UPDATE dbo.TABLAEJEMPLO2	
				SET FECMOD = GETDATE(),
					USERID = SYSTEM_USER,	
					ULTOPR = 'M',
					HORMOV=GETDATE()
				FROM INSERTED I INNER JOIN TABLAEJEMPLO2 T
				ON I.CLAVEUNICA=T.CLAVEUNICA
				WHERE I.DEBAJA ='N' OR I.DEBAJA IS NULL
	
			IF @@ERROR <> 0
				BEGIN
						ROLLBACK TRAN
						RAISERROR('Tabla TABLAEJEMPLO2 - Error al actualizar datos de auditoría',16,1)
				END
		END
	END
	ELSE
	BEGIN
			/*Actualiza datos de auditoria de modificación de los registros */
			UPDATE dbo.TABLAEJEMPLO2	
				SET FECALT = GETDATE(),
					FECMOD = GETDATE(),
					USERID = SYSTEM_USER,	
					ULTOPR = 'A',
					DEBAJA = 'N',
					HORMOV=GETDATE()
				FROM INSERTED I INNER JOIN TABLAEJEMPLO2 T
				ON I.CLAVEUNICA=T.CLAVEUNICA


			IF @@ERROR <> 0
				BEGIN
						ROLLBACK TRAN
						RAISERROR('Tabla TABLAEJEMPLO2 - Error al insertar datos de auditoría',16,1)
				END
	END

END
GO
/****** Object:  Trigger [TR_TABLAEJEMPLO2_DEL]    Script Date: 02/07/2011 00:11:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[TR_TABLAEJEMPLO2_DEL] 
   ON  [dbo].[TABLAEJEMPLO2] 
   INSTEAD OF DELETE
AS 
BEGIN
	
	SET NOCOUNT ON;
	
	UPDATE dbo.TABLAEJEMPLO2	
		SET DEBAJA = 'S', 
		FECMOD = GETDATE(),
		USERID = SYSTEM_USER, 
		ULTOPR = 'B', 
		HORMOV=GETDATE()
	FROM DELETED D INNER JOIN TABLAEJEMPLO2 T
	ON D.CLAVEUNICA=T.CLAVEUNICA
	WHERE D.DEBAJA <>'S' OR D.DEBAJA IS NULL

	
	IF @@ERROR <> 0
	BEGIN
			ROLLBACK TRAN
			RAISERROR('Tabla TABLAEJEMPLO2 - Error al marcar registros con baja lógica',16,1)
	END	
END
GO
/****** Object:  Trigger [TR_TABLAEJEMPLO_UPDINS]    Script Date: 02/07/2011 00:11:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[TR_TABLAEJEMPLO_UPDINS] 
   ON  [dbo].[TABLAEJEMPLO] 
   AFTER INSERT, UPDATE
AS 
BEGIN
	
	SET NOCOUNT ON;
	DECLARE @Operation CHAR(1)

	IF EXISTS(SELECT 1 FROM DELETED)
	SET @Operation = 'M'
		ELSE 
	SET @Operation = 'A'

	IF @Operation ='M'
	BEGIN
		/* Si valor anterior a la modificación era DEBAJA en 'S' en algún registro 
		  se hace ROLLBACK, no se pueden eliminar registros ya eliminados lógicamente*/
		IF EXISTS (SELECT 1 FROM DELETED WHERE DEBAJA = 'S')
		BEGIN
			ROLLBACK TRAN
			RAISERROR('Tabla TABLAEJEMPLO - No se puede eliminar/modificar registros con baja lógica',16,1)
		END
		ELSE
		BEGIN
				
			/*Actualiza datos de auditoria de modificación de los registros */
			UPDATE dbo.TABLAEJEMPLO	
				SET FECMOD = GETDATE(),
					USERID = SYSTEM_USER,	
					ULTOPR = 'M',
					HORMOV=GETDATE()
				FROM INSERTED I INNER JOIN TABLAEJEMPLO T
				ON I.ID=T.ID
				WHERE I.DEBAJA ='N' OR I.DEBAJA IS NULL
	
			IF @@ERROR <> 0
				BEGIN
						ROLLBACK TRAN
						RAISERROR('Tabla TABLAEJEMPLO - Error al actualizar datos de auditoría',16,1)
				END
		END
	END
	ELSE
	BEGIN
			/*Actualiza datos de auditoria de modificación de los registros */
			UPDATE dbo.TABLAEJEMPLO	
				SET FECALT = GETDATE(),
					FECMOD = GETDATE(),
					USERID = SYSTEM_USER,	
					ULTOPR = 'A',
					DEBAJA = 'N',
					HORMOV=GETDATE()
				FROM INSERTED I INNER JOIN TABLAEJEMPLO T
				ON I.ID=T.ID


			IF @@ERROR <> 0
				BEGIN
						ROLLBACK TRAN
						RAISERROR('Tabla TABLAEJEMPLO - Error al insertar datos de auditoría',16,1)
				END
	END

END
GO
/****** Object:  Trigger [updEmployeeData]    Script Date: 02/07/2011 00:11:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[updEmployeeData] 
ON [dbo].[employeeData] 
AFTER UPDATE AS
/*Check whether columns 2, 3 or 4 have been updated. If any or all
 columns 2, 3 or 4 have been changed, create an audit record. The 
bitmask is: power(2,(2-1))+power(2,(3-1))+power(2,(4-1)) = 14. To test 
whether all columns 2, 3, and 4 are updated, use = 14 instead of >0
 (below).*/

   IF (COLUMNS_UPDATED() & 14) > 0
/*Use IF (COLUMNS_UPDATED() & 14) = 14 to see whether all columns 2, 3, 
and 4 are updated.*/
      BEGIN
-- Audit OLD record.
      INSERT INTO auditEmployeeData
         (audit_log_type,
         audit_emp_id,
         audit_emp_bankAccountNumber,
         audit_emp_salary,
         audit_emp_SSN)
         SELECT 'OLD', 
            del.emp_id,
            del.emp_bankAccountNumber,
            del.emp_salary,
            del.emp_SSN
         FROM deleted del

-- Audit NEW record.
      INSERT INTO auditEmployeeData
         (audit_log_type,
         audit_emp_id,
         audit_emp_bankAccountNumber,
         audit_emp_salary,
         audit_emp_SSN)
         SELECT 'NEW',
            ins.emp_id,
            ins.emp_bankAccountNumber,
            ins.emp_salary,
            ins.emp_SSN
         FROM inserted ins
   END;
GO
/****** Object:  Trigger [TR_TABLAEJEMPLOFINALCOMP_UPDINS]    Script Date: 02/07/2011 00:11:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[TR_TABLAEJEMPLOFINALCOMP_UPDINS] 
ON  [dbo].[TABLAEJEMPLOFINALCOMP] 
AFTER INSERT, UPDATE
AS
BEGIN

	SET NOCOUNT ON

	DECLARE @Operation CHAR(1)

	IF EXISTS(SELECT 1 FROM DELETED)
		SET @Operation = 'M'
	ELSE
		SET @Operation = 'A'

	IF @Operation ='M'
	BEGIN
		IF EXISTS (SELECT 1 FROM DELETED WHERE DEBAJA = 'S')
		BEGIN
			ROLLBACK TRAN
			RAISERROR('Tabla TABLAEJEMPLOFINALCOMP - No se puede eliminar/modificar registros con baja lógica',16,1)
		END
		ELSE
		BEGIN

			UPDATE TABLAEJEMPLOFINALCOMP
			SET DEBAJA = 'N', 
			FECMOD = GETDATE(), 
			USERID = SYSTEM_USER,  
			ULTOPR = 'M', 
			HORMOV=GETDATE() 
			FROM INSERTED D INNER JOIN TABLAEJEMPLOFINALCOMP T ON 
			D.ID=T.ID AND D.ID2=T.ID2 
			WHERE D.DEBAJA <>'S' OR D.DEBAJA IS NULL 

			IF @@ERROR <> 0
			BEGIN
				ROLLBACK TRAN
				RAISERROR('Tabla TABLAEJEMPLOFINALCOMP - Error al actualizar datos de auditoría',16,1)
			END

			INSERT INTO TABLAEJEMPLOFINALCOMP_AUD
			SELECT T.* 
			FROM INSERTED D INNER JOIN TABLAEJEMPLOFINALCOMP T ON 
			D.ID=T.ID AND D.ID2=T.ID2 
			WHERE D.DEBAJA <>'S' OR D.DEBAJA IS NULL 

			IF @@ERROR <> 0
			BEGIN
				ROLLBACK TRAN
				RAISERROR('Tabla TABLAEJEMPLOFINALCOMP - Error al pasar registros modificados a tabla historica',16,1)
			END

		END
	END
	ELSE
	BEGIN

		UPDATE TABLAEJEMPLOFINALCOMP
		SET FECALT = GETDATE(), 
		DEBAJA = 'N', 
		FECMOD = GETDATE(), 
		USERID = SYSTEM_USER,  
		ULTOPR = 'A', 
		HORMOV=GETDATE() 
		FROM INSERTED D INNER JOIN TABLAEJEMPLOFINALCOMP T ON 
		D.ID=T.ID AND D.ID2=T.ID2 
		WHERE D.DEBAJA <>'S' OR D.DEBAJA IS NULL 

		IF @@ERROR <> 0
		BEGIN
			ROLLBACK TRAN
			RAISERROR('Tabla TABLAEJEMPLOFINALCOMP - Error al actualizar datos de auditoría',16,1)
		END

		INSERT INTO TABLAEJEMPLOFINALCOMP_AUD
		SELECT T.* 
		FROM INSERTED D INNER JOIN TABLAEJEMPLOFINALCOMP T ON 
		D.ID=T.ID AND D.ID2=T.ID2 
		WHERE D.DEBAJA <>'S' OR D.DEBAJA IS NULL 

		IF @@ERROR <> 0
		BEGIN
			ROLLBACK TRAN
			RAISERROR('Tabla TABLAEJEMPLOFINALCOMP - Error al pasar registros modificados a tabla historica',16,1)
		END

	END
END
GO
/****** Object:  Trigger [TR_TABLAEJEMPLOFINALCOMP_DEL]    Script Date: 02/07/2011 00:11:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[TR_TABLAEJEMPLOFINALCOMP_DEL] 
ON  [dbo].[TABLAEJEMPLOFINALCOMP] 
INSTEAD OF DELETE
AS
BEGIN

	SET NOCOUNT ON;

	UPDATE dbo.TABLAEJEMPLOFINALCOMP
	SET DEBAJA = 'S', 
	FECMOD = GETDATE(), 
	USERID = SYSTEM_USER,  
	ULTOPR = 'B', 
	HORMOV=GETDATE() 
	FROM DELETED D INNER JOIN TABLAEJEMPLOFINALCOMP T ON 
	D.ID=T.ID AND D.ID2=T.ID2 
	WHERE D.DEBAJA <>'S' OR D.DEBAJA IS NULL 

	IF @@ERROR <> 0 
	BEGIN 
		ROLLBACK TRAN 
		RAISERROR('Tabla TABLAEJEMPLOFINALCOMP - Error al marcar registros con baja lógica',16,1) 
	END 

	INSERT INTO TABLAEJEMPLOFINALCOMP_AUD
	SELECT T.* 
	FROM DELETED D INNER JOIN TABLAEJEMPLOFINALCOMP T ON 
	D.ID=T.ID AND D.ID2=T.ID2 

	IF @@ERROR <> 0 
	BEGIN 
		ROLLBACK TRAN 
		RAISERROR('Tabla TABLAEJEMPLOFINALCOMP_HIST - Error al pasar registros eliminados a tabla historica',16,1) 
	END 

END
GO
/****** Object:  Trigger [TR_TABLAEJEMPLOFINAL_UPDINS]    Script Date: 02/07/2011 00:11:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[TR_TABLAEJEMPLOFINAL_UPDINS] 
ON  [dbo].[TABLAEJEMPLOFINAL] 
AFTER INSERT, UPDATE
AS
BEGIN

	SET NOCOUNT ON

	DECLARE @Operation CHAR(1)

	IF EXISTS(SELECT 1 FROM DELETED)
		SET @Operation = 'M'
	ELSE
		SET @Operation = 'A'

	IF @Operation ='M'
	BEGIN
		IF EXISTS (SELECT 1 FROM DELETED WHERE DEBAJA = 'S')
		BEGIN
			ROLLBACK TRAN
			RAISERROR('Tabla TABLAEJEMPLOFINAL - No se puede eliminar/modificar registros con baja lógica',16,1)
		END
		ELSE
		BEGIN

			UPDATE TABLAEJEMPLOFINAL
			SET DEBAJA = 'N', 
			FECMOD = GETDATE(), 
			USERID = SYSTEM_USER,  
			ULTOPR = 'M', 
			HORMOV=GETDATE() 
			FROM INSERTED D INNER JOIN TABLAEJEMPLOFINAL T ON 
			D.ID=T.ID 
			WHERE D.DEBAJA <>'S' OR D.DEBAJA IS NULL 

			IF @@ERROR <> 0
			BEGIN
				ROLLBACK TRAN
				RAISERROR('Tabla TABLAEJEMPLOFINAL - Error al actualizar datos de auditoría',16,1)
			END

			INSERT INTO TABLAEJEMPLOFINAL_AUD
			SELECT T.* 
			FROM INSERTED D INNER JOIN TABLAEJEMPLOFINAL T ON 
			D.ID=T.ID 
			WHERE D.DEBAJA <>'S' OR D.DEBAJA IS NULL 

			IF @@ERROR <> 0
			BEGIN
				ROLLBACK TRAN
				RAISERROR('Tabla TABLAEJEMPLOFINAL - Error al pasar registros modificados a tabla historica',16,1)
			END

		END
	END
	ELSE
	BEGIN

		UPDATE TABLAEJEMPLOFINAL
		SET FECALT = GETDATE(), 
		DEBAJA = 'N', 
		FECMOD = GETDATE(), 
		USERID = SYSTEM_USER,  
		ULTOPR = 'A', 
		HORMOV=GETDATE() 
		FROM INSERTED D INNER JOIN TABLAEJEMPLOFINAL T ON 
		D.ID=T.ID 
		WHERE D.DEBAJA <>'S' OR D.DEBAJA IS NULL 

		IF @@ERROR <> 0
		BEGIN
			ROLLBACK TRAN
			RAISERROR('Tabla TABLAEJEMPLOFINAL - Error al actualizar datos de auditoría',16,1)
		END

		INSERT INTO TABLAEJEMPLOFINAL_AUD
		SELECT T.* 
		FROM INSERTED D INNER JOIN TABLAEJEMPLOFINAL T ON 
		D.ID=T.ID 
		WHERE D.DEBAJA <>'S' OR D.DEBAJA IS NULL 

		IF @@ERROR <> 0
		BEGIN
			ROLLBACK TRAN
			RAISERROR('Tabla TABLAEJEMPLOFINAL - Error al pasar registros modificados a tabla historica',16,1)
		END

	END
END
GO
/****** Object:  Trigger [TR_TABLAEJEMPLOFINAL_DEL]    Script Date: 02/07/2011 00:11:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[TR_TABLAEJEMPLOFINAL_DEL] 
ON  [dbo].[TABLAEJEMPLOFINAL] 
INSTEAD OF DELETE
AS
BEGIN

	SET NOCOUNT ON;

	UPDATE dbo.TABLAEJEMPLOFINAL
	SET DEBAJA = 'S', 
	FECMOD = GETDATE(), 
	USERID = SYSTEM_USER,  
	ULTOPR = 'B', 
	HORMOV=GETDATE() 
	FROM DELETED D INNER JOIN TABLAEJEMPLOFINAL T ON 
	D.ID=T.ID 
	WHERE D.DEBAJA <>'S' OR D.DEBAJA IS NULL 

	IF @@ERROR <> 0 
	BEGIN 
		ROLLBACK TRAN 
		RAISERROR('Tabla TABLAEJEMPLOFINAL - Error al marcar registros con baja lógica',16,1) 
	END 

	INSERT INTO TABLAEJEMPLOFINAL_AUD
	SELECT T.* 
	FROM DELETED D INNER JOIN TABLAEJEMPLOFINAL T ON 
	D.ID=T.ID 

	IF @@ERROR <> 0 
	BEGIN 
		ROLLBACK TRAN 
		RAISERROR('Tabla TABLAEJEMPLOFINAL_HIST - Error al pasar registros eliminados a tabla historica',16,1) 
	END 

END
GO
/****** Object:  Trigger [TR_TABLAEJEMPLO_HIST_UPDINS]    Script Date: 02/07/2011 00:11:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[TR_TABLAEJEMPLO_HIST_UPDINS] 
ON  [dbo].[TABLAEJEMPLO_HIST] 
AFTER INSERT, UPDATE
AS
BEGIN

	SET NOCOUNT ON

	DECLARE @Operation CHAR(1)

	IF EXISTS(SELECT 1 FROM DELETED)
		SET @Operation = 'M'
	ELSE
		SET @Operation = 'A'

	IF @Operation ='M'
	BEGIN
		IF EXISTS (SELECT 1 FROM DELETED WHERE DEBAJA = 'S')
		BEGIN
			ROLLBACK TRAN
			RAISERROR('Tabla TABLAEJEMPLO_HIST - No se puede eliminar/modificar registros con baja lógica',16,1)
		END
		ELSE
		BEGIN
			
			UPDATE TABLAEJEMPLO_HIST
			SET DEBAJA = 'N', 
			FECMOD = GETDATE(), 
			USERID = SYSTEM_USER,  
			ULTOPR = 'M', 
			HORMOV=GETDATE() 
			FROM INSERTED D INNER JOIN TABLAEJEMPLO_HIST T ON 
			D.ID=T.ID 
			WHERE D.DEBAJA <>'S' OR D.DEBAJA IS NULL 

			IF @@ERROR <> 0
			BEGIN
				ROLLBACK TRAN
				RAISERROR('Tabla TABLAEJEMPLO_HIST - Error al actualizar datos de auditoría',16,1)
			END
			
			INSERT INTO TABLAEJEMPLO_HIST_AUD 
			SELECT T.* 
			FROM INSERTED D INNER JOIN TABLAEJEMPLO_HIST T ON 
			D.ID=T.ID 
			WHERE D.DEBAJA <>'S' OR D.DEBAJA IS NULL 
			
			IF @@ERROR <> 0 
			BEGIN 
				ROLLBACK TRAN 
				RAISERROR('Tabla TABLAEJEMPLO_HIST - Error al pasar registros modificados a tabla historica',16,1) 
			END 
			
		END
	END
	ELSE
	BEGIN

		UPDATE TABLAEJEMPLO_HIST
		SET FECALT = GETDATE(), 
		DEBAJA = 'N', 
		FECMOD = GETDATE(), 
		USERID = SYSTEM_USER,  
		ULTOPR = 'A', 
		HORMOV=GETDATE() 
		FROM INSERTED D INNER JOIN TABLAEJEMPLO_HIST T ON 
		D.ID=T.ID 
		WHERE D.DEBAJA <>'S' OR D.DEBAJA IS NULL 

		IF @@ERROR <> 0
		BEGIN
			ROLLBACK TRAN
			RAISERROR('Tabla TABLAEJEMPLO_HIST - Error al actualizar datos de auditoría',16,1)
		END
		
		INSERT INTO TABLAEJEMPLO_HIST_AUD
		SELECT T.* 
		FROM INSERTED D INNER JOIN TABLAEJEMPLO_HIST T ON 
		D.ID=T.ID 
		WHERE D.DEBAJA <>'S' OR D.DEBAJA IS NULL 	

		IF @@ERROR <> 0 
		BEGIN 
			ROLLBACK TRAN 
			RAISERROR('Tabla TABLAEJEMPLO_HIST - Error al pasar registros nuevos a tabla historica',16,1) 
		END 
	END
END
GO
/****** Object:  Trigger [TR_TABLAEJEMPLO_HIST_DEL]    Script Date: 02/07/2011 00:11:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[TR_TABLAEJEMPLO_HIST_DEL] 
ON  [dbo].[TABLAEJEMPLO_HIST] 
INSTEAD OF DELETE
AS
BEGIN

	SET NOCOUNT ON;
	

				
	UPDATE dbo.TABLAEJEMPLO_HIST
	SET DEBAJA = 'S', 
	FECMOD = GETDATE(), 
	USERID = SYSTEM_USER,  
	ULTOPR = 'B', 
	HORMOV=GETDATE() 
	FROM DELETED D INNER JOIN TABLAEJEMPLO_HIST T ON 
	D.ID=T.ID 
	WHERE D.DEBAJA <>'S' OR D.DEBAJA IS NULL 

	IF @@ERROR <> 0 
	BEGIN 
		ROLLBACK TRAN 
		RAISERROR('Tabla TABLAEJEMPLO_HIST - Error al marcar registros con baja lógica',16,1) 
	END 
		
	INSERT INTO TABLAEJEMPLO_HIST_AUD 
	SELECT T.*
	FROM DELETED D INNER JOIN TABLAEJEMPLO_HIST T ON 
	D.ID=T.ID 
	WHERE D.DEBAJA <>'S' OR D.DEBAJA IS NULL 
	
	IF @@ERROR <> 0 
	BEGIN 
		ROLLBACK TRAN 
		RAISERROR('Tabla TABLAEJEMPLO_HIST - Error al pasar registros eliminados a tabla historica',16,1) 
	END 
END
GO
/****** Object:  Default [DF__auditEmpl__audit__5AEE82B9]    Script Date: 02/07/2011 00:11:03 ******/
ALTER TABLE [dbo].[auditEmployeeData] ADD  DEFAULT (newid()) FOR [audit_log_id]
GO
/****** Object:  Default [DF__auditEmpl__audit__5BE2A6F2]    Script Date: 02/07/2011 00:11:03 ******/
ALTER TABLE [dbo].[auditEmployeeData] ADD  DEFAULT (suser_sname()) FOR [audit_user]
GO
/****** Object:  Default [DF__auditEmpl__audit__5CD6CB2B]    Script Date: 02/07/2011 00:11:03 ******/
ALTER TABLE [dbo].[auditEmployeeData] ADD  DEFAULT (getdate()) FOR [audit_changed]
GO
/****** Object:  Default [DF_PTINT_ERRORES_FECALT]    Script Date: 02/07/2011 00:11:03 ******/
ALTER TABLE [dbo].[PTINT_LOGERRORES] ADD  CONSTRAINT [DF_PTINT_ERRORES_FECALT]  DEFAULT (getdate()) FOR [FECALT]
GO
/****** Object:  Default [DF_PTINT_LOGERRORES_USERID]    Script Date: 02/07/2011 00:11:03 ******/
ALTER TABLE [dbo].[PTINT_LOGERRORES] ADD  CONSTRAINT [DF_PTINT_LOGERRORES_USERID]  DEFAULT (suser_sname()) FOR [USERID]
GO
/****** Object:  Default [DF_PTINT_LOGERRORES_HORMOV]    Script Date: 02/07/2011 00:11:03 ******/
ALTER TABLE [dbo].[PTINT_LOGERRORES] ADD  CONSTRAINT [DF_PTINT_LOGERRORES_HORMOV]  DEFAULT (getdate()) FOR [HORMOV]
GO
