<div class="container-fluid color_fondo h-100 m">
    <div class="row align-items-center h-100 overflow-auto pt-5 con_lp">
        <div class="col-md-8 text-center text-white">
            <img src="/resources/img/isologo_nobkg.png" class="landing_logo" alt="Lazo Blanco" />
            <h4 class="landing_intro my-5 px-5">
                Tenemos como objetivo conectar a víctimas de abuso y/o violencia de género con profesionales que les
                brinden información, asistencia y contención
            </h4>
            <button class="btn lb_btn_secondary mt-2 font-weight-bold" ui-sref="login">
                Iniciá sesión<i class="fas fa-sign-in-alt ml-2"></i>
            </button>
        </div>
        <div class="col-md-4 text-white">
            <div class="my-5 px-5 text-center">
                <h6 class="text-justify">
                    Si sos o fuiste victima de <strong class="resaltar">abuso y/o violencia de género</strong> y
                    necesitás asistencia, o querés recibir información de cómo reconocer estas situaciones y actuar al
                    respecto, podés registrate a continuación:
                </h6>
                <button class="btn lb_btn_secondary mt-2 font-weight-bold" ui-sref="signup">
                    Registro<i class="fas fa-id-card ml-2"></i>
                </button>
            </div>
            <div class="my-4 px-5 text-center">
                <h6 class="text-justify">
                    Si querés formar parte de <strong class="resaltar">Lazo Blanco</strong> para brindar asistencia a
                    víctimas de abuso y/o violencia de género, contactanos con el formulario a continuación:
                </h6>
                <a class="btn lb_btn_secondary mt-2 font-weight-bold"
                    ng-href="https://docs.google.com/forms/d/e/1FAIpQLSea1hrpqjrJcA2TV95WDh4I1vKWel2usakBRr7TmAe_Wc_ONA/viewform"
                    target="_blank">
                    Formulario<i class="fas fa-clipboard-list ml-2"></i>
                </a>
            </div>
        </div>
    </div>
</div>