#contenedor
{width:70%;margin:0 auto;text-align:center;font-size:25px;color:white;font-family:verdana;}

#arriba
{background-color:grey;}

#medio
{background-color:blue;}

#abajo
{background-color:green;}