<div class="container-fluid lb_bkg_color h-100">
    <div class="row align-items-center h-100">
        <div class="col-12 d-flex justify-content-center">
            <div class="signup_card white_bkg">
                <div class="signup_logo_container">
                    <img src="/resources/img/iso_bkg.png" class="signup_logo" alt="Lazo Blanco Logo">
                </div>
                <div class="signup_form_container">
                    <form name="form" ng-submit="form.$valid" novalidate>
                        <div class="form-group mb-4">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text white_bkg lb_txt_color">
                                        <i class="fas fa-user"></i>
                                    </span>
                                </div>
                                <input type="text" name="firstName" class="form-control shadowless_input"
                                    ng-model="vm.firstName" placeholder="Nombre" tabindex="1" autocomplete="off"
                                    autofocus required />
                            </div>
                        </div>
                        <div class="form-group mb-4">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text white_bkg lb_txt_color">
                                        <i class="fas fa-envelope"></i>
                                    </span>
                                </div>
                                <input type="email" name="email" class="form-control shadowless_input"
                                    ng-model="vm.email" placeholder="Email" tabindex="2" autocomplete="off" required />
                            </div>
                        </div>
                        <div class="form-group mb-4">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text white_bkg lb_txt_color">
                                        <i class="fas fa-key"></i>
                                    </span>
                                </div>
                                <input type="password" name="password" class="form-control shadowless_input"
                                    ng-model="vm.password" placeholder="Contrase&ntilde;a" tabindex="3"
                                    autocomplete="off" required />
                            </div>
                        </div>
                        <div class="form-group mb-4">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text white_bkg lb_txt_color">
                                        <i class="fas fa-user-check"></i>
                                    </span>
                                </div>
                                <input type="password" name="passwordCheck" class="form-control shadowless_input"
                                    ng-model="vm.passwordCheck" placeholder="Repetir contrase&ntilde;a" tabindex="4"
                                    autocomplete="off" required />
                            </div>
                        </div>
                        <div>
                            <div class="form-text text-danger text-center float-left">
                                <div ng-messages="form.$submitted && form.firstName.$error">
                                    <small ng-message="required">El nombre no puede estar vac&iacute;o</small>
                                </div>
                                <div ng-messages="form.$submitted && form.email.$error">
                                    <small ng-message="required">El email no puede estar vac&iacute;o</small>
                                </div>
                                <div ng-messages="form.$submitted && form.password.$error">
                                    <small ng-message="required">La contrase&ntilde;a no puede estar
                                        vac&iacute;a</small>
                                </div>
                                <div ng-if="vm.password" ng-messages="form.$submitted && form.passwordCheck.$error">
                                    <small ng-message="required">Las contrase&ntilde;as no coinciden</small>
                                </div>
                                <div ng-if="vm.error">
                                    {{ vm.errorMessage }}
                                </div>
                            </div>
                            <button class="btn lb_btn btn-sm float-right">
                                Registrarse<i class="fas fa-id-card ml-2"></i>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>