#contenedor{color:white;font-family:verdana;font-size:20px;width:70%;margin:0 auto;text-align:center;}

#arriba{background-color:blue;}

#medio{background-color:green;}

#abajo{background-color:red;}

